In [1]:
import pyspark
from pyspark.sql import SparkSession

# our spark session is the way that we are interfacing between any code instruction that we want to run 
#and the underlining clusters and all the executors that we have

In [2]:
spark = SparkSession.builder.master("local[*]").appName("Datamanipulation").getOrCreate()

23/04/03 10:01:30 WARN Utils: Your hostname, julian-Latitude-7280 resolves to a loopback address: 127.0.1.1; using 192.168.0.102 instead (on interface wlp1s0)
23/04/03 10:01:30 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/julian/spark-3.2.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/04/03 10:01:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [51]:
import pandas as pd

read_file = pd.read_excel (r'/home/julian/Python_course/Data_Manipulation_Techniques/Sample - EU Superstore.xls')
read_file.to_csv (r'/home/julian/Python_course/Data_Manipulation_Techniques/Sample - EU Superstore.csv', \
                  index = None, header=True)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [189]:
df = spark.read.option("header","true").csv("/home/julian/Python_course/Data_Manipulation_Techniques/Sample - EU Superstore.csv")

In [190]:
df

DataFrame[Row ID: string, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, City: string, State: string, Country: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string]

In [191]:
# dates and measures are being interpreted as a string
df.printSchema()

root
 |-- Row ID: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: string (nullable = true)

In [192]:
# show method

df.show(5)

+------+---------------+----------+----------+--------------+-----------+--------------+---------+-----+-------+--------------+------+---------------+---------------+------------+--------------------+------------------+--------+--------+------------------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID| Customer Name|  Segment| City|  State|       Country|Region|     Product ID|       Category|Sub-Category|        Product Name|             Sales|Quantity|Discount|            Profit|
+------+---------------+----------+----------+--------------+-----------+--------------+---------+-----+-------+--------------+------+---------------+---------------+------------+--------------------+------------------+--------+--------+------------------+
|     1|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|Aaron Smayling|Corporate|Leeds|England|United Kingdom| North|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...| 79.19999999999999|       3|     0.0|              39.6|
|     2|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|Aaron Smayling|Corporate|Leeds|England|United Kingdom| North|TEC-AC-10004144|     Technology| Accessories|SanDisk Numeric K...| 388.9200000000001|       7|     0.0|               0.0|
|     3|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|Aaron Smayling|Corporate|Leeds|England|United Kingdom| North|OFF-LA-10001915|Office Supplies|      Labels|Avery Legal Exhib...|             35.19|       3|     0.0|             16.11|
|     4|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|Aaron Smayling|Corporate|Leeds|England|United Kingdom| North|OFF-ST-10004550|Office Supplies|     Storage|Fellowes Folders,...| 50.93999999999999|       2|     0.0|13.200000000000001|
|     5|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|Aaron Smayling|Corporate|Leeds|England|United Kingdom| North|TEC-AC-10004068|     Technology| Accessories|Memorex Memory Ca...|307.43999999999994|       3|     0.0| 73.71000000000001|
+------+---------------+----------+----------+--------------+-----------+--------------+---------+-----+-------+--------------+------+---------------+---------------+------------+--------------------+------------------+--------+--------+------------------+
only showing top 5 rows

In [193]:
# Let us explore a bit deeper the type of data we are dealing with

type(df)

pyspark.sql.dataframe.DataFrame

In [194]:
# This is exacteky the same as in pandas
df.columns

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'City',
 'State',
 'Country',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [195]:
df.count()

10000

In [196]:
# Lazy operations vs non lazy operations

# lazy operation: we are telling the spark session the concept of what we would like to
# do but we are not actually executing it
df.limit(5)

DataFrame[Row ID: string, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, City: string, State: string, Country: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string]

In [197]:
df.limit(5).show()

+------+---------------+----------+----------+--------------+-----------+--------------+---------+-----+-------+--------------+------+---------------+---------------+------------+--------------------+------------------+--------+--------+------------------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID| Customer Name|  Segment| City|  State|       Country|Region|     Product ID|       Category|Sub-Category|        Product Name|             Sales|Quantity|Discount|            Profit|
+------+---------------+----------+----------+--------------+-----------+--------------+---------+-----+-------+--------------+------+---------------+---------------+------------+--------------------+------------------+--------+--------+------------------+
|     1|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|Aaron Smayling|Corporate|Leeds|England|United Kingdom| North|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...| 79.19999999999999|       3|     0.0|              39.6|
|     2|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|Aaron Smayling|Corporate|Leeds|England|United Kingdom| North|TEC-AC-10004144|     Technology| Accessories|SanDisk Numeric K...| 388.9200000000001|       7|     0.0|               0.0|
|     3|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|Aaron Smayling|Corporate|Leeds|England|United Kingdom| North|OFF-LA-10001915|Office Supplies|      Labels|Avery Legal Exhib...|             35.19|       3|     0.0|             16.11|
|     4|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|Aaron Smayling|Corporate|Leeds|England|United Kingdom| North|OFF-ST-10004550|Office Supplies|     Storage|Fellowes Folders,...| 50.93999999999999|       2|     0.0|13.200000000000001|
|     5|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|Aaron Smayling|Corporate|Leeds|England|United Kingdom| North|TEC-AC-10004068|     Technology| Accessories|Memorex Memory Ca...|307.43999999999994|       3|     0.0| 73.71000000000001|
+------+---------------+----------+----------+--------------+-----------+--------------+---------+-----+-------+--------------+------+---------------+---------------+------------+--------------------+------------------+--------+--------+------------------+

In [198]:
# This operation allows me to see the schema and most importantly to manipulate it
df.schema

StructType(List(StructField(Row ID,StringType,true),StructField(Order ID,StringType,true),StructField(Order Date,StringType,true),StructField(Ship Date,StringType,true),StructField(Ship Mode,StringType,true),StructField(Customer ID,StringType,true),StructField(Customer Name,StringType,true),StructField(Segment,StringType,true),StructField(City,StringType,true),StructField(State,StringType,true),StructField(Country,StringType,true),StructField(Region,StringType,true),StructField(Product ID,StringType,true),StructField(Category,StringType,true),StructField(Sub-Category,StringType,true),StructField(Product Name,StringType,true),StructField(Sales,StringType,true),StructField(Quantity,StringType,true),StructField(Discount,StringType,true),StructField(Profit,StringType,true)))

In [199]:
for i in df.schema:
    print(i)

StructField(Row ID,StringType,true)
StructField(Order ID,StringType,true)
StructField(Order Date,StringType,true)
StructField(Ship Date,StringType,true)
StructField(Ship Mode,StringType,true)
StructField(Customer ID,StringType,true)
StructField(Customer Name,StringType,true)
StructField(Segment,StringType,true)
StructField(City,StringType,true)
StructField(State,StringType,true)
StructField(Country,StringType,true)
StructField(Region,StringType,true)
StructField(Product ID,StringType,true)
StructField(Category,StringType,true)
StructField(Sub-Category,StringType,true)
StructField(Product Name,StringType,true)
StructField(Sales,StringType,true)
StructField(Quantity,StringType,true)
StructField(Discount,StringType,true)
StructField(Profit,StringType,true)

In [200]:
# genric pyspark cleaning operations

# Here we want to drop all rows which have a null value in any of the columns

#I like o constatntly redefine my dataframe as I am applying these operations
df = df.dropna()
df.show()

+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+------------------+--------+--------+-------------------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|         City|               State|       Country| Region|     Product ID|       Category|Sub-Category|        Product Name|             Sales|Quantity|Discount|             Profit|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+------------------+--------+--------+-------------------+
|     1|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...| 79.19999999999999|       3|     0.0|               39.6|
|     2|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004144|     Technology| Accessories|SanDisk Numeric K...| 388.9200000000001|       7|     0.0|                0.0|
|     3|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-LA-10001915|Office Supplies|      Labels|Avery Legal Exhib...|             35.19|       3|     0.0|              16.11|
|     4|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10004550|Office Supplies|     Storage|Fellowes Folders,...| 50.93999999999999|       2|     0.0| 13.200000000000001|
|     5|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004068|     Technology| Accessories|Memorex Memory Ca...|307.43999999999994|       3|     0.0|  73.71000000000001|
|     6|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10002271|Office Supplies|     Storage|Rogers Shelving, ...|122.39999999999999|       2|     0.0|              37.92|
|     7|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-PH-10003963|     Technology|      Phones|Apple Signal Boos...|            413.82|       3|     0.0|              20.61|
|     8|ES-2016-5113958|2016-08-02|2016-08-07|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|TEC-CO-10004325|     Technology|     Copiers|Canon Personal Co...|            428.22|       3|     0.0|             192.69|
|     9|ES-2016-5113958|2016-08-02|2016-08-07|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red|           3979.29|       7|     0.0| 1989.5399999999997|
|    10|ES-2016-5113958|2016-08-02|2016-08-07|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-FA-10002393|Office Supplies|   Fasteners|Accos Push Pins, ...|             43.56|       3|     0.0| 12.599999999999998|
|    11|ES-2016-2510515|2016-06-20|2016-06-20|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-LA-10002805|Office Supplies|      Labels|Hon Color Coded L...|25.259999999999998|       2|     0.0|               0.48|
|    12|ES-2016-2510515|2016-06-20|2016-06-20|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AP-10002330|Office Supplies|  Appliances|Hamilton Beach St...|          2443.905|       5|     0.1|  760.3049999999998|
|    13|ES-2016-2510515|2016-06-20|2016-06-20|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AR-10000505|Office Supplies|         Art|Binney & Smith Pe...|             12.21|       1|     0.0|                0.0|
|    14|ES-2016-2510515|2016-06-20|2016-06-20|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|TEC-PH-10002898|     Technology|      Phones|Samsung Smart Pho...|2167.2960000000003|       4|    0.15|  790.4159999999999|
|    15|ES-2016-2510515|2016-06-20|2016-06-20|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-ST-10001413|Office Supplies|     Storage|Rogers Folders, Blue|           138.105|       5|     0.1|-12.344999999999999|
|    16|ES-2017-4380115|2017-02-16|2017-02-20|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-ST-10003931|Office Supplies|     Storage|Smead Trays, Wire...|           128.385|       3|     0.1|  4.274999999999999|
|    17|ES-2017-4380115|2017-02-16|2017-02-20|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|TEC-AC-10004269|     Technology| Accessories|Belkin Memory Car...| 690.1199999999999|       6|     0.0|                0.0|
|    18|ES-2017-4380115|2017-02-16|2017-02-20|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-LA-10001676|Office Supplies|      Labels|Hon Removable Lab...|              8.16|       1|     0.0| 1.1400000000000001|
|    19|ES-2018-2573330|2018-11-03|2018-11-08|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|TEC-MA-10000811|     Technology|    Machines|Okidata Phone, Du...|            347.88|       4|     0.0|              76.44|
|    20|ES-2018-2573330|2018-11-03|2018-11-08|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|OFF-ST-10000648|Office Supplies|     Storage|Eldon File Cart, ...| 575.5050000000001|       5|     0.1| 12.704999999999998|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+------------------+--------+--------+-------------------+
only showing top 20 rows

In [201]:
# Sometimes we have too many columns and we need to drop some them

df = df.drop("Segment")

In [202]:
df.printSchema()

root
 |-- Row ID: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: string (nullable = true)

In [203]:
# When I am not fundamentally changing the shape of the dataframe I keep writting on top of the samee variable

In [204]:
# what if we want to drop multiple columns

columns_to_drop = ("Segment",'Country','Region')
df = df.drop(*columns_to_drop)

In [205]:
df.printSchema()

root
 |-- Row ID: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: string (nullable = true)

In [206]:
df.show()

+------+---------------+----------+----------+--------------+-----------+----------------+-------------+--------------------+---------------+---------------+------------+--------------------+------------------+--------+--------+-------------------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|         City|               State|     Product ID|       Category|Sub-Category|        Product Name|             Sales|Quantity|Discount|             Profit|
+------+---------------+----------+----------+--------------+-----------+----------------+-------------+--------------------+---------------+---------------+------------+--------------------+------------------+--------+--------+-------------------+
|     1|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...| 79.19999999999999|       3|     0.0|               39.6|
|     2|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|TEC-AC-10004144|     Technology| Accessories|SanDisk Numeric K...| 388.9200000000001|       7|     0.0|                0.0|
|     3|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|OFF-LA-10001915|Office Supplies|      Labels|Avery Legal Exhib...|             35.19|       3|     0.0|              16.11|
|     4|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|OFF-ST-10004550|Office Supplies|     Storage|Fellowes Folders,...| 50.93999999999999|       2|     0.0| 13.200000000000001|
|     5|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|TEC-AC-10004068|     Technology| Accessories|Memorex Memory Ca...|307.43999999999994|       3|     0.0|  73.71000000000001|
|     6|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|OFF-ST-10002271|Office Supplies|     Storage|Rogers Shelving, ...|122.39999999999999|       2|     0.0|              37.92|
|     7|ES-2018-1311038|2018-02-07|2018-02-11|Standard Class|   AS-10045|  Aaron Smayling|        Leeds|             England|TEC-PH-10003963|     Technology|      Phones|Apple Signal Boos...|            413.82|       3|     0.0|              20.61|
|     8|ES-2016-5113958|2016-08-02|2016-08-07|  Second Class|   EB-13840|   Ellis Ballard|West Bromwich|             England|TEC-CO-10004325|     Technology|     Copiers|Canon Personal Co...|            428.22|       3|     0.0|             192.69|
|     9|ES-2016-5113958|2016-08-02|2016-08-07|  Second Class|   EB-13840|   Ellis Ballard|West Bromwich|             England|OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red|           3979.29|       7|     0.0| 1989.5399999999997|
|    10|ES-2016-5113958|2016-08-02|2016-08-07|  Second Class|   EB-13840|   Ellis Ballard|West Bromwich|             England|OFF-FA-10002393|Office Supplies|   Fasteners|Accos Push Pins, ...|             43.56|       3|     0.0| 12.599999999999998|
|    11|ES-2016-2510515|2016-06-20|2016-06-20|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|OFF-LA-10002805|Office Supplies|      Labels|Hon Color Coded L...|25.259999999999998|       2|     0.0|               0.48|
|    12|ES-2016-2510515|2016-06-20|2016-06-20|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|OFF-AP-10002330|Office Supplies|  Appliances|Hamilton Beach St...|          2443.905|       5|     0.1|  760.3049999999998|
|    13|ES-2016-2510515|2016-06-20|2016-06-20|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|OFF-AR-10000505|Office Supplies|         Art|Binney & Smith Pe...|             12.21|       1|     0.0|                0.0|
|    14|ES-2016-2510515|2016-06-20|2016-06-20|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|TEC-PH-10002898|     Technology|      Phones|Samsung Smart Pho...|2167.2960000000003|       4|    0.15|  790.4159999999999|
|    15|ES-2016-2510515|2016-06-20|2016-06-20|      Same Day|   LH-17155|Logan Haushalter|   Le Bouscat|Aquitaine-Limousi...|OFF-ST-10001413|Office Supplies|     Storage|Rogers Folders, Blue|           138.105|       5|     0.1|-12.344999999999999|
|    16|ES-2017-4380115|2017-02-16|2017-02-20|Standard Class|   KC-16540| Kelly Collister|   Strasbourg|Alsace-Champagne-...|OFF-ST-10003931|Office Supplies|     Storage|Smead Trays, Wire...|           128.385|       3|     0.1|  4.274999999999999|
|    17|ES-2017-4380115|2017-02-16|2017-02-20|Standard Class|   KC-16540| Kelly Collister|   Strasbourg|Alsace-Champagne-...|TEC-AC-10004269|     Technology| Accessories|Belkin Memory Car...| 690.1199999999999|       6|     0.0|                0.0|
|    18|ES-2017-4380115|2017-02-16|2017-02-20|Standard Class|   KC-16540| Kelly Collister|   Strasbourg|Alsace-Champagne-...|OFF-LA-10001676|Office Supplies|      Labels|Hon Removable Lab...|              8.16|       1|     0.0| 1.1400000000000001|
|    19|ES-2018-2573330|2018-11-03|2018-11-08|Standard Class|   BF-11170|      Ben Ferrer|         Unna|North Rhine-Westp...|TEC-MA-10000811|     Technology|    Machines|Okidata Phone, Du...|            347.88|       4|     0.0|              76.44|
|    20|ES-2018-2573330|2018-11-03|2018-11-08|Standard Class|   BF-11170|      Ben Ferrer|         Unna|North Rhine-Westp...|OFF-ST-10000648|Office Supplies|     Storage|Eldon File Cart, ...| 575.5050000000001|       5|     0.1| 12.704999999999998|
+------+---------------+----------+----------+--------------+-----------+----------------+-------------+--------------------+---------------+---------------+------------+--------------------+------------------+--------+--------+-------------------+
only showing top 20 rows

In [207]:
df = spark.read.option("header","true").csv("/home/julian/Python_course/Data_Manipulation_Techniques/Sample - EU Superstore.csv")

In [208]:
df.printSchema()

root
 |-- Row ID: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: string (nullable = true)

In [209]:
# In order to get only a column we use the select method

df.select("Country").show()

+--------------+
|       Country|
+--------------+
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|United Kingdom|
|        France|
|        France|
|        France|
|        France|
|        France|
|        France|
|        France|
|        France|
|       Germany|
|       Germany|
+--------------+
only showing top 20 rows

In [210]:
data = df.select("Country",'City','Customer name')

In [211]:
data.show()

+--------------+-------------+----------------+
|       Country|         City|   Customer name|
+--------------+-------------+----------------+
|United Kingdom|        Leeds|  Aaron Smayling|
|United Kingdom|        Leeds|  Aaron Smayling|
|United Kingdom|        Leeds|  Aaron Smayling|
|United Kingdom|        Leeds|  Aaron Smayling|
|United Kingdom|        Leeds|  Aaron Smayling|
|United Kingdom|        Leeds|  Aaron Smayling|
|United Kingdom|        Leeds|  Aaron Smayling|
|United Kingdom|West Bromwich|   Ellis Ballard|
|United Kingdom|West Bromwich|   Ellis Ballard|
|United Kingdom|West Bromwich|   Ellis Ballard|
|        France|   Le Bouscat|Logan Haushalter|
|        France|   Le Bouscat|Logan Haushalter|
|        France|   Le Bouscat|Logan Haushalter|
|        France|   Le Bouscat|Logan Haushalter|
|        France|   Le Bouscat|Logan Haushalter|
|        France|   Strasbourg| Kelly Collister|
|        France|   Strasbourg| Kelly Collister|
|        France|   Strasbourg| Kelly Collister|
|       Germany|         Unna|      Ben Ferrer|
|       Germany|         Unna|      Ben Ferrer|
+--------------+-------------+----------------+
only showing top 20 rows

In [212]:
type(df.columns)

list

In [213]:
columns = df.columns

In [214]:
columns

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'City',
 'State',
 'Country',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [215]:
# We can combine the dynammic structure of getting a column of a dataframe with then indexing the list
df.select(columns[:4]).show()

+------+---------------+----------+----------+
|Row ID|       Order ID|Order Date| Ship Date|
+------+---------------+----------+----------+
|     1|ES-2018-1311038|2018-02-07|2018-02-11|
|     2|ES-2018-1311038|2018-02-07|2018-02-11|
|     3|ES-2018-1311038|2018-02-07|2018-02-11|
|     4|ES-2018-1311038|2018-02-07|2018-02-11|
|     5|ES-2018-1311038|2018-02-07|2018-02-11|
|     6|ES-2018-1311038|2018-02-07|2018-02-11|
|     7|ES-2018-1311038|2018-02-07|2018-02-11|
|     8|ES-2016-5113958|2016-08-02|2016-08-07|
|     9|ES-2016-5113958|2016-08-02|2016-08-07|
|    10|ES-2016-5113958|2016-08-02|2016-08-07|
|    11|ES-2016-2510515|2016-06-20|2016-06-20|
|    12|ES-2016-2510515|2016-06-20|2016-06-20|
|    13|ES-2016-2510515|2016-06-20|2016-06-20|
|    14|ES-2016-2510515|2016-06-20|2016-06-20|
|    15|ES-2016-2510515|2016-06-20|2016-06-20|
|    16|ES-2017-4380115|2017-02-16|2017-02-20|
|    17|ES-2017-4380115|2017-02-16|2017-02-20|
|    18|ES-2017-4380115|2017-02-16|2017-02-20|
|    19|ES-2018-2573330|2018-11-03|2018-11-08|
|    20|ES-2018-2573330|2018-11-03|2018-11-08|
+------+---------------+----------+----------+
only showing top 20 rows

In [216]:
# list comprehension - generating a list on the fly within a loop

[col for col in columns if 'Date' in col]

['Order Date', 'Ship Date']

In [217]:
df.select([col for col in columns if 'Date' in col]).show()

+----------+----------+
|Order Date| Ship Date|
+----------+----------+
|2018-02-07|2018-02-11|
|2018-02-07|2018-02-11|
|2018-02-07|2018-02-11|
|2018-02-07|2018-02-11|
|2018-02-07|2018-02-11|
|2018-02-07|2018-02-11|
|2018-02-07|2018-02-11|
|2016-08-02|2016-08-07|
|2016-08-02|2016-08-07|
|2016-08-02|2016-08-07|
|2016-06-20|2016-06-20|
|2016-06-20|2016-06-20|
|2016-06-20|2016-06-20|
|2016-06-20|2016-06-20|
|2016-06-20|2016-06-20|
|2017-02-16|2017-02-20|
|2017-02-16|2017-02-20|
|2017-02-16|2017-02-20|
|2018-11-03|2018-11-08|
|2018-11-03|2018-11-08|
+----------+----------+
only showing top 20 rows

In [218]:
# We can also use Regex

df.select("*")

DataFrame[Row ID: string, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, City: string, State: string, Country: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string]

In [219]:
df

DataFrame[Row ID: string, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, City: string, State: string, Country: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string]

In [220]:
# if we want to get the unique values of a column

In [221]:
unique_countries = df.select('Country').distinct()

In [222]:
unique_countries.show()

+--------------+
|       Country|
+--------------+
|        Sweden|
|       Germany|
|        France|
|       Belgium|
|       Finland|
|         Italy|
|        Norway|
|         Spain|
|       Denmark|
|       Ireland|
|   Switzerland|
|      Portugal|
|       Austria|
|United Kingdom|
|   Netherlands|
+--------------+

In [223]:
unique_countries

DataFrame[Country: string]

In [224]:
unique_countries.count()

15

In [225]:
# unique number of segments

df.select('Segment').distinct().show()

+-----------+
|    Segment|
+-----------+
|   Consumer|
|Home Office|
|  Corporate|
+-----------+

In [226]:
# How can we apply filtering conditions on our spark dataframe

df['Country'] == 'Portugal'

Column<'(Country = Portugal)'>

In [227]:
df.filter(df['Country'] == 'Portugal')

DataFrame[Row ID: string, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, City: string, State: string, Country: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string]

In [228]:
df.filter(df['Country'] == 'Portugal').count()

70

In [229]:
# Simple filtering function

df['Country'].isin(['Portugal','Spain'])

Column<'(Country IN (Portugal, Spain))'>

In [230]:
# We now pass this through the filter method

iberia_df = df.filter(df['Country'].isin(['Portugal','Spain']))

In [231]:
iberia_df.count()

929

In [232]:
# and condition -> & and or conditions -> |

df.filter((df['Country'] == 'Portugal') | (df['Country'] == 'Spain')).count()

929

In [233]:
df.filter((df['Segment'] == 'Corporate') & (df['Country'] == 'Spain')).count()

269

In [234]:
df.filter(df['Profit'] > 0).count()

7569

In [235]:
# create new column

# the pandas way
df['Cost'] = df['Sales'] - df['Profit']

TypeError: 'DataFrame' object does not support item assignment

In [236]:
# the withcolumn method declares a new column and the operation you would like to apply

df = df.withColumn('Cost', df['Sales'] - df['Profit'])

In [237]:
df.select('Cost','Profit','Sales').show()

+------------------+-------------------+------------------+
|              Cost|             Profit|             Sales|
+------------------+-------------------+------------------+
| 39.59999999999999|               39.6| 79.19999999999999|
| 388.9200000000001|                0.0| 388.9200000000001|
|             19.08|              16.11|             35.19|
| 37.73999999999999| 13.200000000000001| 50.93999999999999|
|233.72999999999993|  73.71000000000001|307.43999999999994|
| 84.47999999999999|              37.92|122.39999999999999|
|            393.21|              20.61|            413.82|
|235.53000000000003|             192.69|            428.22|
|1989.7500000000002| 1989.5399999999997|           3979.29|
|30.960000000000004| 12.599999999999998|             43.56|
|24.779999999999998|               0.48|25.259999999999998|
|1683.6000000000004|  760.3049999999998|          2443.905|
|             12.21|                0.0|             12.21|
|1376.8800000000003|  790.4159999999999|2167.2960000000003|
|            150.45|-12.344999999999999|           138.105|
|124.10999999999999|  4.274999999999999|           128.385|
| 690.1199999999999|                0.0| 690.1199999999999|
|              7.02| 1.1400000000000001|              8.16|
|            271.44|              76.44|            347.88|
| 562.8000000000001| 12.704999999999998| 575.5050000000001|
+------------------+-------------------+------------------+
only showing top 20 rows

In [238]:
# bring verything together -> create a new column with conditional statement

from pyspark.sql.functions import when

In [239]:
df.withColumn("Profitable Flag", when(df.Profit >= 0, 'Profitable').when(df.Profit < 0, 'not profitable').
              otherwise('Error'))

DataFrame[Row ID: string, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, City: string, State: string, Country: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string, Cost: double, Profitable Flag: string]

In [240]:
df = df.withColumn("Profitable Flag", 
              when(df.Profit >= 0, 'Profitable').
              when(df.Profit < 0, 'not profitable').
              when(df.Profit == 0, 'Zero' ).
              otherwise('Error'))

In [241]:
df.select('Profit','Profitable Flag').show()

+-------------------+---------------+
|             Profit|Profitable Flag|
+-------------------+---------------+
|               39.6|     Profitable|
|                0.0|     Profitable|
|              16.11|     Profitable|
| 13.200000000000001|     Profitable|
|  73.71000000000001|     Profitable|
|              37.92|     Profitable|
|              20.61|     Profitable|
|             192.69|     Profitable|
| 1989.5399999999997|     Profitable|
| 12.599999999999998|     Profitable|
|               0.48|     Profitable|
|  760.3049999999998|     Profitable|
|                0.0|     Profitable|
|  790.4159999999999|     Profitable|
|-12.344999999999999| not profitable|
|  4.274999999999999|     Profitable|
|                0.0|     Profitable|
| 1.1400000000000001|     Profitable|
|              76.44|     Profitable|
| 12.704999999999998|     Profitable|
+-------------------+---------------+
only showing top 20 rows

In [242]:
# We want to analyze profit and figure out the driver of profit

df.columns

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'City',
 'State',
 'Country',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit',
 'Cost',
 'Profitable Flag']

In [243]:
df.select('Discount').show()

+--------+
|Discount|
+--------+
|     0.0|
|     0.0|
|     0.0|
|     0.0|
|     0.0|
|     0.0|
|     0.0|
|     0.0|
|     0.0|
|     0.0|
|     0.0|
|     0.1|
|     0.0|
|    0.15|
|     0.1|
|     0.1|
|     0.0|
|     0.0|
|     0.0|
|     0.1|
+--------+
only showing top 20 rows

In [244]:
# in how many rows was the discount zero

In [245]:
non_zero_discount = df.filter(df['Discount'] == 0.0).count()

print(non_zero_discount)

6134

In [246]:
# Does discount impact profit in general

In [247]:
df.filter((df['Discount'] == 0.0) & (df['Profit']>=0)).count()

6134

In [248]:
df.filter((df['Discount'] != 0.0) & (df['Profit']>=0)).count()

1874

In [249]:
losses_with_discount = df.filter((df['Discount'] != 0.0) & (df['Profit']<0)).count()

In [250]:
total_with_discount = df.filter(df['Discount'] != 0.0).count()

In [251]:
losses_with_discount / total_with_discount

0.5152612519399896

In [252]:
# groupby and aggregations
# We need to state the column and the aggregation function

df.groupBy("Country").count()

DataFrame[Country: string, count: bigint]

In [253]:
df.groupBy("Country").count().show()

+--------------+-----+
|       Country|count|
+--------------+-----+
|        Sweden|  203|
|       Germany| 2065|
|        France| 2827|
|       Belgium|  147|
|       Finland|   64|
|         Italy| 1108|
|        Norway|   70|
|         Spain|  859|
|       Denmark|   65|
|       Ireland|  106|
|   Switzerland|   78|
|      Portugal|   70|
|       Austria|  270|
|United Kingdom| 1633|
|   Netherlands|  435|
+--------------+-----+

In [254]:
df.groupBy("Country").count().orderBy('count', ascending=False).show()

+--------------+-----+
|       Country|count|
+--------------+-----+
|        France| 2827|
|       Germany| 2065|
|United Kingdom| 1633|
|         Italy| 1108|
|         Spain|  859|
|   Netherlands|  435|
|       Austria|  270|
|        Sweden|  203|
|       Belgium|  147|
|       Ireland|  106|
|   Switzerland|   78|
|        Norway|   70|
|      Portugal|   70|
|       Denmark|   65|
|       Finland|   64|
+--------------+-----+

In [255]:
df.groupBy("Country").count().orderBy('Country', ascending=True).show()

+--------------+-----+
|       Country|count|
+--------------+-----+
|       Austria|  270|
|       Belgium|  147|
|       Denmark|   65|
|       Finland|   64|
|        France| 2827|
|       Germany| 2065|
|       Ireland|  106|
|         Italy| 1108|
|   Netherlands|  435|
|        Norway|   70|
|      Portugal|   70|
|         Spain|  859|
|        Sweden|  203|
|   Switzerland|   78|
|United Kingdom| 1633|
+--------------+-----+

In [256]:
df.groupBy('Country','Segment','Category').count().show()#.orderBy('Country','Segment', ascending=True).show()

+--------------+-----------+---------------+-----+
|       Country|    Segment|       Category|count|
+--------------+-----------+---------------+-----+
|      Portugal|   Consumer|      Furniture|    6|
|       Belgium|Home Office|     Technology|    3|
|       Belgium|Home Office|      Furniture|    3|
|        France|   Consumer|     Technology|  276|
|        Norway|   Consumer|     Technology|    9|
|       Finland|  Corporate|Office Supplies|    9|
|       Finland|   Consumer|     Technology|    8|
|       Germany|   Consumer|Office Supplies|  727|
|United Kingdom|  Corporate|     Technology|  105|
|       Ireland|Home Office|     Technology|    6|
|         Spain|   Consumer|     Technology|   85|
|       Germany|Home Office|      Furniture|   64|
|       Finland|   Consumer|Office Supplies|   24|
|         Spain|  Corporate|      Furniture|   45|
|      Portugal|   Consumer|Office Supplies|   33|
|         Italy|  Corporate|Office Supplies|  247|
|       Finland|   Consumer|      Furniture|    7|
|United Kingdom|Home Office|Office Supplies|  200|
|       Austria|Home Office|Office Supplies|   39|
|       Austria|   Consumer|Office Supplies|   98|
+--------------+-----------+---------------+-----+
only showing top 20 rows

In [257]:
# our aggregation so far has only been a count ->> We can do better
# max,sum,mean, median, min

In [258]:
df.groupBy('Country').agg({'Sales':'sum'})

DataFrame[Country: string, sum(Sales): double]

In [259]:
df.groupBy('Country').agg({'Sales':'sum'}).show()

+--------------+------------------+
|       Country|        sum(Sales)|
+--------------+------------------+
|        Sweden|30491.403000000002|
|       Germany| 628840.0305000001|
|        France|  858931.082999999|
|       Belgium| 49226.70000000003|
|       Finland|20704.350000000002|
|         Italy|289709.65799999936|
|        Norway|20525.370000000003|
|         Spain| 287146.6800000003|
|       Denmark| 8638.053000000002|
|       Ireland|16639.508999999995|
|   Switzerland|24877.860000000004|
|      Portugal|          15105.12|
|       Austria| 81162.00000000006|
|United Kingdom| 528576.2999999992|
|   Netherlands| 77514.94500000008|
+--------------+------------------+

In [260]:
df.groupBy('Country').agg({'Sales':'min'}).show()

+--------------+------------------+
|       Country|        min(Sales)|
+--------------+------------------+
|       Austria|            100.62|
|       Belgium|             10.08|
|       Denmark|10.709999999999999|
|       Finland|100.44000000000001|
|        France|             10.08|
|       Germany|             10.08|
|       Ireland|100.12500000000001|
|         Italy|           100.152|
|   Netherlands|10.004999999999999|
|        Norway|            101.58|
|      Portugal|121.49999999999999|
|         Spain|             10.05|
|        Sweden|10.379999999999999|
|   Switzerland|           1054.68|
|United Kingdom|             10.53|
+--------------+------------------+

In [261]:
df.groupBy('Country').agg({'Sales':'min'}).columns

['Country', 'min(Sales)']

In [262]:
df.groupBy('Country').agg({'Sales':'mean'}).withColumnRenamed('avg(Sales)','Sales')

DataFrame[Country: string, Sales: double]

In [263]:
grouped_country = df.groupBy('Country').agg({'Sales':'mean'}).withColumnRenamed('avg(Sales)','Sales')

In [264]:
import pyspark.sql.functions as func

grouped_country

DataFrame[Country: string, Sales: double]

In [265]:
grouped_country = grouped_country.withColumn("Sales Clean",func.round(grouped_country['Sales'],2)).show()

+--------------+------------------+-----------+
|       Country|             Sales|Sales Clean|
+--------------+------------------+-----------+
|        Sweden|150.20395566502464|      150.2|
|       Germany| 304.5230171912834|     304.52|
|        France|303.83129925716275|     303.83|
|       Belgium| 334.8755102040819|     334.88|
|       Finland|323.50546875000003|     323.51|
|         Italy| 261.4708104693135|     261.47|
|        Norway|293.21957142857144|     293.22|
|         Spain|334.28018626309694|     334.28|
|       Denmark| 132.8931230769231|     132.89|
|       Ireland|156.97649999999996|     156.98|
|   Switzerland|318.94692307692316|     318.95|
|      Portugal| 215.7874285714286|     215.79|
|       Austria| 300.6000000000002|      300.6|
|United Kingdom|323.68420085731736|     323.68|
|   Netherlands|178.19527586206914|      178.2|
+--------------+------------------+-----------+

In [266]:
df.groupBy("Country","Segment","Category").agg({'Sales' : 'sum','Profit':'sum','Discount':'mean'})

DataFrame[Country: string, Segment: string, Category: string, sum(Sales): double, avg(Discount): double, sum(Profit): double]

In [267]:
grouped = df.groupBy("Country","Segment","Category").agg({'Sales' : 'sum','Profit':'sum','Discount':'mean'})

In [268]:
grouped.show()

+--------------+-----------+---------------+------------------+--------------------+-------------------+
|       Country|    Segment|       Category|        sum(Sales)|       avg(Discount)|        sum(Profit)|
+--------------+-----------+---------------+------------------+--------------------+-------------------+
|      Portugal|   Consumer|      Furniture|          1281.675|                 0.5|-295.42500000000007|
|       Belgium|Home Office|     Technology|2370.3000000000006|                 0.0|            1003.02|
|       Belgium|Home Office|      Furniture|1000.7399999999999|                 0.0|             327.45|
|        France|   Consumer|     Technology|152364.03899999993|  0.1403985507246372| 12791.589000000009|
|        Norway|   Consumer|     Technology|           3180.09|                 0.0|             432.75|
|       Finland|  Corporate|Office Supplies|1120.3500000000001|                 0.0|             278.79|
|       Finland|   Consumer|     Technology|           4468.68|                 0.0|  957.5699999999999|
|       Germany|   Consumer|Office Supplies|118187.81099999989| 0.05364511691884475| 23707.191000000006|
|United Kingdom|  Corporate|     Technology| 68470.07700000002|0.017142857142857147| 17156.067000000003|
|       Ireland|Home Office|     Technology|           1906.53|                 0.5|-1205.8799999999999|
|         Spain|   Consumer|     Technology| 52602.33900000002|0.050588235294117656|  9772.598999999995|
|       Germany|Home Office|      Furniture| 35528.42100000001| 0.11171874999999996| 2076.3810000000008|
|       Finland|   Consumer|Office Supplies|           4817.07|                 0.0|             903.12|
|         Spain|  Corporate|      Furniture|20741.388000000003|0.048888888888888885|  316.8780000000003|
|      Portugal|   Consumer|Office Supplies|          2679.165|                 0.5|          -1345.305|
|         Italy|  Corporate|Office Supplies| 42710.18399999997| 0.07773279352226718|           8124.594|
|       Finland|   Consumer|      Furniture|5987.7300000000005|                 0.0|             616.02|
|United Kingdom|Home Office|Office Supplies|32845.829999999994| 0.05499999999999996| 7443.1200000000035|
|       Austria|Home Office|Office Supplies| 6751.919999999998|                 0.0| 1683.4499999999998|
|       Austria|   Consumer|Office Supplies|17451.629999999997|                 0.0|  4173.630000000001|
+--------------+-----------+---------------+------------------+--------------------+-------------------+
only showing top 20 rows

In [269]:
grouped = grouped.withColumnRenamed('sum(Sales)','Sales').withColumnRenamed('avg(Discount)','Discount')\
                    .withColumnRenamed('sum(Profit)','Profit')

In [270]:
grouped.show()

+--------------+-----------+---------------+------------------+--------------------+-------------------+
|       Country|    Segment|       Category|             Sales|            Discount|             Profit|
+--------------+-----------+---------------+------------------+--------------------+-------------------+
|      Portugal|   Consumer|      Furniture|          1281.675|                 0.5|-295.42500000000007|
|       Belgium|Home Office|     Technology|2370.3000000000006|                 0.0|            1003.02|
|       Belgium|Home Office|      Furniture|1000.7399999999999|                 0.0|             327.45|
|        France|   Consumer|     Technology|152364.03899999993|  0.1403985507246372| 12791.589000000009|
|        Norway|   Consumer|     Technology|           3180.09|                 0.0|             432.75|
|       Finland|  Corporate|Office Supplies|1120.3500000000001|                 0.0|             278.79|
|       Finland|   Consumer|     Technology|           4468.68|                 0.0|  957.5699999999999|
|       Germany|   Consumer|Office Supplies|118187.81099999989| 0.05364511691884475| 23707.191000000006|
|United Kingdom|  Corporate|     Technology| 68470.07700000002|0.017142857142857147| 17156.067000000003|
|       Ireland|Home Office|     Technology|           1906.53|                 0.5|-1205.8799999999999|
|         Spain|   Consumer|     Technology| 52602.33900000002|0.050588235294117656|  9772.598999999995|
|       Germany|Home Office|      Furniture| 35528.42100000001| 0.11171874999999996| 2076.3810000000008|
|       Finland|   Consumer|Office Supplies|           4817.07|                 0.0|             903.12|
|         Spain|  Corporate|      Furniture|20741.388000000003|0.048888888888888885|  316.8780000000003|
|      Portugal|   Consumer|Office Supplies|          2679.165|                 0.5|          -1345.305|
|         Italy|  Corporate|Office Supplies| 42710.18399999997| 0.07773279352226718|           8124.594|
|       Finland|   Consumer|      Furniture|5987.7300000000005|                 0.0|             616.02|
|United Kingdom|Home Office|Office Supplies|32845.829999999994| 0.05499999999999996| 7443.1200000000035|
|       Austria|Home Office|Office Supplies| 6751.919999999998|                 0.0| 1683.4499999999998|
|       Austria|   Consumer|Office Supplies|17451.629999999997|                 0.0|  4173.630000000001|
+--------------+-----------+---------------+------------------+--------------------+-------------------+
only showing top 20 rows

In [271]:
grouped_country = df.groupBy("Country").agg({"Sales":"sum"}).orderBy('sum(Sales)')

In [272]:
# collect method returns all rows from all different executors into memory the collector at the central level

In [273]:
# it is fine(and a good idea) to use the collect method when the data is already grouped to few rows
bottom_country_sales = grouped_country.collect()[0][0]

In [274]:
grouped_country.collect()

[Row(Country='Denmark', sum(Sales)=8638.053000000002),
 Row(Country='Portugal', sum(Sales)=15105.12),
 Row(Country='Ireland', sum(Sales)=16639.508999999995),
 Row(Country='Norway', sum(Sales)=20525.370000000003),
 Row(Country='Finland', sum(Sales)=20704.350000000002),
 Row(Country='Switzerland', sum(Sales)=24877.860000000004),
 Row(Country='Sweden', sum(Sales)=30491.403000000002),
 Row(Country='Belgium', sum(Sales)=49226.70000000003),
 Row(Country='Netherlands', sum(Sales)=77514.94500000008),
 Row(Country='Austria', sum(Sales)=81162.00000000006),
 Row(Country='Spain', sum(Sales)=287146.6800000003),
 Row(Country='Italy', sum(Sales)=289709.65799999936),
 Row(Country='United Kingdom', sum(Sales)=528576.2999999992),
 Row(Country='Germany', sum(Sales)=628840.0305000001),
 Row(Country='France', sum(Sales)=858931.082999999)]

In [275]:
# show all the rows of the country which has the lowest sales

In [276]:
df.filter(df['Country'] == bottom_country_sales)

DataFrame[Row ID: string, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, City: string, State: string, Country: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string, Cost: double, Profitable Flag: string]

In [277]:
# get all the rows for the bottom three countries by profit

In [278]:
grouped_country = df.groupBy("Country").agg({"Profit":"sum"}).orderBy('sum(Profit)').collect()[:3]

In [279]:
grouped_country

[Row(Country='Netherlands', sum(Profit)=-41070.07499999995),
 Row(Country='Sweden', sum(Profit)=-17519.366999999987),
 Row(Country='Portugal', sum(Profit)=-8703.06)]

In [280]:
# list comprehension to get the name of the bottom 3

bottom_countries = [row[0] for row in grouped_country]

In [281]:
df.filter(df['Country'].isin(bottom_countries)).show()

+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-----------+-------------+-----------+-------+---------------+---------------+------------+--------------------+------------------+--------+--------+-------------------+------------------+---------------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|       City|        State|    Country| Region|     Product ID|       Category|Sub-Category|        Product Name|             Sales|Quantity|Discount|             Profit|              Cost|Profitable Flag|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-----------+-------------+-----------+-------+---------------+---------------+------------+--------------------+------------------+--------+--------+-------------------+------------------+---------------+
|    41|IT-2017-2373016|2017-11-08|2017-11-11|   First Class|   CM-11830|  Cari MacIntyre|  Corporate|  The Hague|South Holland|Netherlands|Central|OFF-SU-10003907|Office Supplies|    Supplies|Stiletto Letter O...|              15.0|       1|     0.5|               -9.3|              24.3| not profitable|
|    42|IT-2017-2373016|2017-11-08|2017-11-11|   First Class|   CM-11830|  Cari MacIntyre|  Corporate|  The Hague|South Holland|Netherlands|Central|OFF-BI-10001249|Office Supplies|     Binders|Acco Hole Reinfor...|             14.04|       4|     0.5|                0.0|             14.04|     Profitable|
|    43|IT-2017-2373016|2017-11-08|2017-11-11|   First Class|   CM-11830|  Cari MacIntyre|  Corporate|  The Hague|South Holland|Netherlands|Central|OFF-AR-10000823|Office Supplies|         Art|Stanley Pens, Wat...|            33.075|       5|     0.5|-11.925000000000004| 45.00000000000001| not profitable|
|    51|IT-2018-2321796|2018-04-02|2018-04-07|Standard Class|   IL-15100|     Ivan Liston|   Consumer|      Nacka|    Stockholm|     Sweden|  North|OFF-ST-10002659|Office Supplies|     Storage|Smead Shelving, W...|              72.0|       3|     0.5| -5.759999999999991| 77.75999999999999| not profitable|
|   105|IT-2017-4388990|2017-08-10|2017-08-13|  Second Class|   MM-17260| Magdelene Morse|   Consumer|Vlaardingen|South Holland|Netherlands|Central|FUR-FU-10004137|      Furniture| Furnishings|Tenex Light Bulb,...|             84.24|       6|     0.2|             -15.84|            100.08| not profitable|
|   106|IT-2017-4388990|2017-08-10|2017-08-13|  Second Class|   MM-17260| Magdelene Morse|   Consumer|Vlaardingen|South Holland|Netherlands|Central|OFF-ST-10001413|Office Supplies|     Storage|Rogers Folders, Blue|30.689999999999998|       2|     0.5|             -29.49| 60.17999999999999| not profitable|
|   143|IT-2015-5134922|2015-10-16|2015-10-18|  Second Class|   BS-11365|    Bill Shonely|  Corporate|  Rotterdam|South Holland|Netherlands|Central|OFF-PA-10001662|Office Supplies|       Paper|Green Bar Note Ca...|            14.895|       1|     0.5|-4.1850000000000005|             19.08| not profitable|
|   144|IT-2015-5134922|2015-10-16|2015-10-18|  Second Class|   BS-11365|    Bill Shonely|  Corporate|  Rotterdam|South Holland|Netherlands|Central|OFF-ST-10002263|Office Supplies|     Storage|Rogers Trays, Wir...|           151.875|       5|     0.5| -3.075000000000017|154.95000000000002| not profitable|
|   145|IT-2016-2655811|2016-06-16|2016-06-22|Standard Class|   MT-18070|   Michelle Tran|Home Office|  Rotterdam|South Holland|Netherlands|Central|TEC-AC-10002530|     Technology| Accessories|Memorex Numeric K...|             86.04|       4|     0.5|             -29.28|115.32000000000001| not profitable|
|   146|IT-2016-2655811|2016-06-16|2016-06-22|Standard Class|   MT-18070|   Michelle Tran|Home Office|  Rotterdam|South Holland|Netherlands|Central|OFF-AR-10001672|Office Supplies|         Art|Boston Sketch Pad...|             48.87|       2|     0.5|-20.549999999999997| 69.41999999999999| not profitable|
|   164|IT-2017-3695467|2017-06-10|2017-06-14|Standard Class|   SS-20140|Saphhira Shifley|  Corporate|     Lisbon|       Lisboa|   Portugal|  South|OFF-AP-10001623|Office Supplies|  Appliances| Hoover Stove, White|           3399.66|      12|     0.5|-3059.8199999999997|           6459.48| not profitable|
|   181|IT-2018-5192801|2018-12-25|2019-01-01|Standard Class|   JD-15895|Jonathan Doherty|  Corporate| Oosterhout|North Brabant|Netherlands|Central|OFF-LA-10003699|Office Supplies|      Labels|Smead File Folder...|23.729999999999997|       7|     0.5|-20.999999999999996| 44.72999999999999| not profitable|
|   191|IT-2016-4187289|2016-05-10|2016-05-12|  Second Class|   LC-16960| Lindsay Castell|Home Office|  Amsterdam|North Holland|Netherlands|Central|OFF-FA-10000740|Office Supplies|   Fasteners|Accos Staples, Bu...|10.950000000000001|       2|     0.5| -6.570000000000001|17.520000000000003| not profitable|
|   296|IT-2015-5989878|2015-10-20|2015-10-24|Standard Class|   RS-19870|      Roy Skaria|Home Office|    Helmond|North Brabant|Netherlands|Central|OFF-AR-10003457|Office Supplies|         Art|Sanford Sketch Pa...|             72.99|       3|     0.5| -4.409999999999997| 77.39999999999999| not profitable|
|   340|IT-2016-1188964|2016-06-10|2016-06-17|Standard Class|   JK-16090|   Juliana Krohn|   Consumer|    Uppsala|      Uppsala|     Sweden|  North|FUR-CH-10004790|      Furniture|      Chairs|Office Star Bag C...|159.02999999999997|       6|     0.5| -28.70999999999998|187.73999999999995| not profitable|
|   341|IT-2016-1188964|2016-06-10|2016-06-17|Standard Class|   JK-16090|   Juliana Krohn|   Consumer|    Uppsala|      Uppsala|     Sweden|  North|OFF-PA-10001492|Office Supplies|       Paper|Enermax Note Card...| 59.82000000000001|       4|     0.5| -34.74000000000001| 94.56000000000002| not profitable|
|   342|IT-2016-1188964|2016-06-10|2016-06-17|Standard Class|   JK-16090|   Juliana Krohn|   Consumer|    Uppsala|      Uppsala|     Sweden|  North|OFF-PA-10000816|Office Supplies|       Paper|Enermax Memo Slip...|             7.785|       1|     0.5| -4.845000000000001|             12.63| not profitable|
|   343|IT-2016-1188964|2016-06-10|2016-06-17|Standard Class|   JK-16090|   Juliana Krohn|   Consumer|    Uppsala|      Uppsala|     Sweden|  North|OFF-FA-10004359|Office Supplies|   Fasteners|OIC Paper Clips, ...|11.879999999999999|       2|     0.5|-5.9399999999999995|             17.82| not profitable|
|   344|IT-2016-1188964|2016-06-10|2016-06-17|Standard Class|   JK-16090|   Juliana Krohn|   Consumer|    Uppsala|      Uppsala|     Sweden|  North|TEC-PH-10001963|     Technology|      Phones|Nokia Speaker Pho...|            248.88|       4|     0.5|             -149.4|            398.28| not profitable|
|   346|IT-2018-5630655|2018-08-27|2018-09-03|Standard Class|   ZC-21910|Zuschuss Carroll|   Consumer|     Lisbon|       Lisboa|   Portugal|  South|OFF-PA-10001971|Office Supplies|       Paper|Eaton Memo Slips,...|             34.35|       5|     0.5|-11.100000000000001|             45.45| not profitable|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-----------+-------------+-----------+-------+---------------+---------------+------------+--------------------+------------------+--------+--------+-------------------+------------------+---------------+
only showing top 20 rows

In [282]:
# Anoher approach for list comprehension
[i for i,j in grouped_country][:3]

['Netherlands', 'Sweden', 'Portugal']

In [283]:
df.select('Order Date','Sales').orderBy('Order Date').show()

+----------+------------------+
|Order Date|             Sales|
+----------+------------------+
|2015-01-01| 44.86500000000001|
|2015-01-03|            854.49|
|2015-01-04|139.76999999999998|
|2015-01-04|             26.64|
|2015-01-04|17.009999999999998|
|2015-01-05|            207.12|
|2015-01-05|             89.55|
|2015-01-06|324.45000000000005|
|2015-01-07|           155.358|
|2015-01-07|             33.39|
|2015-01-07|             5.025|
|2015-01-07|            716.04|
|2015-01-08|           986.904|
|2015-01-08|             115.8|
|2015-01-10|           205.965|
|2015-01-11|54.900000000000006|
|2015-01-11|             40.35|
|2015-01-11|267.98400000000004|
|2015-01-11|             22.05|
|2015-01-11| 97.01999999999998|
+----------+------------------+
only showing top 20 rows

In [284]:
from pyspark.sql import functions as F

df.withColumn('Order Date Clean', F.to_date(df['Order Date'],'yyyy-MM-dd')).select('Order Date',\
                                                                            'Order Date Clean').printSchema()

root
 |-- Order Date: string (nullable = true)
 |-- Order Date Clean: date (nullable = true)

In [285]:
df = df.withColumn('Order Date Clean', F.to_date(df['Order Date'],'yyyy-MM-dd')).\
    withColumn('Ship Date Clean', F.to_date(df['Ship Date'],'yyyy-MM-dd'))

In [286]:
df

DataFrame[Row ID: string, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, City: string, State: string, Country: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string, Cost: double, Profitable Flag: string, Order Date Clean: date, Ship Date Clean: date]

In [287]:
# udf -> user defined function

from pyspark.sql.functions import udf

# defining the function you want 
def uppercase(mystring):
    return mystring.upper()

uppercaseUDF = udf(lambda x : uppercase(x))

df = df.withColumn("Upper Cased Name", uppercaseUDF(df['Customer Name']))

In [288]:
df

DataFrame[Row ID: string, Order ID: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, City: string, State: string, Country: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string, Cost: double, Profitable Flag: string, Order Date Clean: date, Ship Date Clean: date, Upper Cased Name: string]

In [289]:
df.select('Customer Name', 'Upper Cased Name').show()

+----------------+----------------+
|   Customer Name|Upper Cased Name|
+----------------+----------------+
|  Aaron Smayling|  AARON SMAYLING|
|  Aaron Smayling|  AARON SMAYLING|
|  Aaron Smayling|  AARON SMAYLING|
|  Aaron Smayling|  AARON SMAYLING|
|  Aaron Smayling|  AARON SMAYLING|
|  Aaron Smayling|  AARON SMAYLING|
|  Aaron Smayling|  AARON SMAYLING|
|   Ellis Ballard|   ELLIS BALLARD|
|   Ellis Ballard|   ELLIS BALLARD|
|   Ellis Ballard|   ELLIS BALLARD|
|Logan Haushalter|LOGAN HAUSHALTER|
|Logan Haushalter|LOGAN HAUSHALTER|
|Logan Haushalter|LOGAN HAUSHALTER|
|Logan Haushalter|LOGAN HAUSHALTER|
|Logan Haushalter|LOGAN HAUSHALTER|
| Kelly Collister| KELLY COLLISTER|
| Kelly Collister| KELLY COLLISTER|
| Kelly Collister| KELLY COLLISTER|
|      Ben Ferrer|      BEN FERRER|
|      Ben Ferrer|      BEN FERRER|
+----------------+----------------+
only showing top 20 rows

Traceback (most recent call last):
  File "/home/julian/spark-3.2.3-bin-hadoop3.2/python/lib/pyspark.zip/pyspark/daemon.py", line 186, in manager
  File "/home/julian/spark-3.2.3-bin-hadoop3.2/python/lib/pyspark.zip/pyspark/daemon.py", line 74, in worker
  File "/home/julian/spark-3.2.3-bin-hadoop3.2/python/lib/pyspark.zip/pyspark/worker.py", line 663, in main
    if read_int(infile) == SpecialLengths.END_OF_STREAM:
  File "/home/julian/spark-3.2.3-bin-hadoop3.2/python/lib/pyspark.zip/pyspark/serializers.py", line 564, in read_int
    raise EOFError
EOFError

In [4]:
spark

In [5]:
players = spark.read.option("header","true").csv("/home/julian/Python_course/Data_Manipulation_Techniques/Player.csv")

In [6]:
player_stats = spark.read.option("header","true").csv("/home/julian/Python_course/Data_Manipulation_Techniques/Player_Attributes.csv")

In [7]:
players.printSchema()

root
 |-- id: string (nullable = true)
 |-- player_api_id: string (nullable = true)
 |-- player_name: string (nullable = true)
 |-- player_fifa_api_id: string (nullable = true)
 |-- birthday: string (nullable = true)
 |-- height: string (nullable = true)
 |-- weight: string (nullable = true)

In [8]:
players.count()

11060

In [9]:
players.select('player_fifa_api_id').distinct().count()

11060

In [10]:
player_stats.select('player_api_id','date','free_kick_accuracy').show()

+-------------+-------------------+------------------+
|player_api_id|               date|free_kick_accuracy|
+-------------+-------------------+------------------+
|       505942|2016-02-18 00:00:00|              39.0|
|       505942|2015-11-19 00:00:00|              39.0|
|       505942|2015-09-21 00:00:00|              39.0|
|       505942|2015-03-20 00:00:00|              38.0|
|       505942|2007-02-22 00:00:00|              38.0|
|       155782|2016-04-21 00:00:00|              69.0|
|       155782|2016-04-07 00:00:00|              69.0|
|       155782|2016-01-07 00:00:00|              69.0|
|       155782|2015-12-24 00:00:00|              69.0|
|       155782|2015-12-17 00:00:00|              69.0|
|       155782|2015-10-16 00:00:00|              69.0|
|       155782|2015-09-25 00:00:00|              69.0|
|       155782|2015-09-21 00:00:00|              69.0|
|       155782|2015-01-09 00:00:00|              68.0|
|       155782|2014-12-05 00:00:00|              68.0|
|       155782|2014-11-07 00:00:00|              68.0|
|       155782|2014-09-18 00:00:00|              68.0|
|       155782|2014-05-02 00:00:00|              68.0|
|       155782|2014-04-04 00:00:00|              68.0|
|       155782|2014-03-14 00:00:00|              68.0|
+-------------+-------------------+------------------+
only showing top 20 rows

In [11]:
player_stats.count()

183978

In [12]:
players_with_stats = player_stats.join(players, players.player_api_id == player_stats.player_api_id)

In [13]:
players_with_stats

DataFrame[id: string, player_fifa_api_id: string, player_api_id: string, date: string, overall_rating: string, potential: string, preferred_foot: string, attacking_work_rate: string, defensive_work_rate: string, crossing: string, finishing: string, heading_accuracy: string, short_passing: string, volleys: string, dribbling: string, curve: string, free_kick_accuracy: string, long_passing: string, ball_control: string, acceleration: string, sprint_speed: string, agility: string, reactions: string, balance: string, shot_power: string, jumping: string, stamina: string, strength: string, long_shots: string, aggression: string, interceptions: string, positioning: string, vision: string, penalties: string, marking: string, standing_tackle: string, sliding_tackle: string, gk_diving: string, gk_handling: string, gk_kicking: string, gk_positioning: string, gk_reflexes: string, id: string, player_api_id: string, player_name: string, player_fifa_api_id: string, birthday: string, height: string, weight: string]

In [14]:
players_with_stats = player_stats.join(players, ['player_api_id'] , how='left' )

In [15]:
players_with_stats.count()

183978

In [16]:
# Broadcast join

# You take a smaller dataset and make a copy of it in every node of the executor

# Now we are going to broadcast the players dataset into all the executors and then  we will make the 
# join with the player stats faster

from pyspark.sql.functions import broadcast

player_stats.join(broadcast(players), ['player_api_id'] , how='left').show()

23/04/03 10:02:15 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------------+---+------------------+-------------------+--------------+---------+--------------+-------------------+-------------------+--------+---------+----------------+-------------+-------+---------+-----+------------------+------------+------------+------------+------------+-------+---------+-------+----------+-------+-------+--------+----------+----------+-------------+-----------+------+---------+-------+---------------+--------------+---------+-----------+----------+--------------+-----------+---+------------------+------------------+-------------------+------+------+
|player_api_id| id|player_fifa_api_id|               date|overall_rating|potential|preferred_foot|attacking_work_rate|defensive_work_rate|crossing|finishing|heading_accuracy|short_passing|volleys|dribbling|curve|free_kick_accuracy|long_passing|ball_control|acceleration|sprint_speed|agility|reactions|balance|shot_power|jumping|stamina|strength|long_shots|aggression|interceptions|positioning|vision|penalties|marking|standing_tackle|sliding_tackle|gk_diving|gk_handling|gk_kicking|gk_positioning|gk_reflexes| id|       player_name|player_fifa_api_id|           birthday|height|weight|
+-------------+---+------------------+-------------------+--------------+---------+--------------+-------------------+-------------------+--------+---------+----------------+-------------+-------+---------+-----+------------------+------------+------------+------------+------------+-------+---------+-------+----------+-------+-------+--------+----------+----------+-------------+-----------+------+---------+-------+---------------+--------------+---------+-----------+----------+--------------+-----------+---+------------------+------------------+-------------------+------+------+
|       505942|  1|            218353|2016-02-18 00:00:00|          67.0|     71.0|         right|             medium|             medium|    49.0|     44.0|            71.0|         61.0|   44.0|     51.0| 45.0|              39.0|        64.0|        49.0|        60.0|        64.0|   59.0|     47.0|   65.0|      55.0|   58.0|   54.0|    76.0|      35.0|      71.0|         70.0|       45.0|  54.0|     48.0|   65.0|           69.0|          69.0|      6.0|       11.0|      10.0|           8.0|        8.0|  1|Aaron Appindangoye|            218353|1992-02-29 00:00:00|182.88|   187|
|       505942|  2|            218353|2015-11-19 00:00:00|          67.0|     71.0|         right|             medium|             medium|    49.0|     44.0|            71.0|         61.0|   44.0|     51.0| 45.0|              39.0|        64.0|        49.0|        60.0|        64.0|   59.0|     47.0|   65.0|      55.0|   58.0|   54.0|    76.0|      35.0|      71.0|         70.0|       45.0|  54.0|     48.0|   65.0|           69.0|          69.0|      6.0|       11.0|      10.0|           8.0|        8.0|  1|Aaron Appindangoye|            218353|1992-02-29 00:00:00|182.88|   187|
|       505942|  3|            218353|2015-09-21 00:00:00|          62.0|     66.0|         right|             medium|             medium|    49.0|     44.0|            71.0|         61.0|   44.0|     51.0| 45.0|              39.0|        64.0|        49.0|        60.0|        64.0|   59.0|     47.0|   65.0|      55.0|   58.0|   54.0|    76.0|      35.0|      63.0|         41.0|       45.0|  54.0|     48.0|   65.0|           66.0|          69.0|      6.0|       11.0|      10.0|           8.0|        8.0|  1|Aaron Appindangoye|            218353|1992-02-29 00:00:00|182.88|   187|
|       505942|  4|            218353|2015-03-20 00:00:00|          61.0|     65.0|         right|             medium|             medium|    48.0|     43.0|            70.0|         60.0|   43.0|     50.0| 44.0|              38.0|        63.0|        48.0|        60.0|        64.0|   59.0|     46.0|   65.0|      54.0|   58.0|   54.0|    76.0|      34.0|      62.0|         40.0|       44.0|  53.0|     47.0|   62.0|           63.0|          66.0|      5.0|       10.0|       9.0|           7.0|        7.0|  1|Aaron Appindangoye|            218353|1992-02-29 00:00:00|182.88|   187|
|       505942|  5|            218353|2007-02-22 00:00:00|          61.0|     65.0|         right|             medium|             medium|    48.0|     43.0|            70.0|         60.0|   43.0|     50.0| 44.0|              38.0|        63.0|        48.0|        60.0|        64.0|   59.0|     46.0|   65.0|      54.0|   58.0|   54.0|    76.0|      34.0|      62.0|         40.0|       44.0|  53.0|     47.0|   62.0|           63.0|          66.0|      5.0|       10.0|       9.0|           7.0|        7.0|  1|Aaron Appindangoye|            218353|1992-02-29 00:00:00|182.88|   187|
|       155782|  6|            189615|2016-04-21 00:00:00|          74.0|     76.0|          left|               high|             medium|    80.0|     53.0|            58.0|         71.0|   40.0|     73.0| 70.0|              69.0|        68.0|        71.0|        79.0|        78.0|   78.0|     67.0|   90.0|      71.0|   85.0|   79.0|    56.0|      62.0|      68.0|         67.0|       60.0|  66.0|     59.0|   76.0|           75.0|          78.0|     14.0|        7.0|       9.0|           9.0|       12.0|  2|   Aaron Cresswell|            189615|1989-12-15 00:00:00|170.18|   146|
|       155782|  7|            189615|2016-04-07 00:00:00|          74.0|     76.0|          left|               high|             medium|    80.0|     53.0|            58.0|         71.0|   32.0|     73.0| 70.0|              69.0|        68.0|        71.0|        79.0|        78.0|   78.0|     67.0|   90.0|      71.0|   85.0|   79.0|    56.0|      60.0|      68.0|         67.0|       60.0|  66.0|     59.0|   76.0|           75.0|          78.0|     14.0|        7.0|       9.0|           9.0|       12.0|  2|   Aaron Cresswell|            189615|1989-12-15 00:00:00|170.18|   146|
|       155782|  8|            189615|2016-01-07 00:00:00|          73.0|     75.0|          left|               high|             medium|    79.0|     52.0|            57.0|         70.0|   29.0|     71.0| 68.0|              69.0|        68.0|        70.0|        79.0|        78.0|   78.0|     67.0|   90.0|      71.0|   84.0|   79.0|    56.0|      59.0|      67.0|         66.0|       58.0|  65.0|     59.0|   76.0|           75.0|          78.0|     14.0|        7.0|       9.0|           9.0|       12.0|  2|   Aaron Cresswell|            189615|1989-12-15 00:00:00|170.18|   146|
|       155782|  9|            189615|2015-12-24 00:00:00|          73.0|     75.0|          left|               high|             medium|    79.0|     51.0|            57.0|         70.0|   29.0|     71.0| 68.0|              69.0|        68.0|        70.0|        79.0|        78.0|   78.0|     67.0|   90.0|      71.0|   84.0|   79.0|    56.0|      58.0|      67.0|         66.0|       58.0|  65.0|     59.0|   76.0|           75.0|          78.0|     14.0|        7.0|       9.0|           9.0|       12.0|  2|   Aaron Cresswell|            189615|1989-12-15 00:00:00|170.18|   146|
|       155782| 10|            189615|2015-12-17 00:00:00|          73.0|     75.0|          left|               high|             medium|    79.0|     51.0|            57.0|         70.0|   29.0|     71.0| 68.0|              69.0|        68.0|        70.0|        79.0|        78.0|   78.0|     67.0|   90.0|      71.0|   84.0|   79.0|    56.0|      58.0|      67.0|         66.0|       58.0|  65.0|     59.0|   76.0|           75.0|          78.0|     14.0|        7.0|       9.0|           9.0|       12.0|  2|   Aaron Cresswell|            189615|1989-12-15 00:00:00|170.18|   146|
|       155782| 11|            189615|2015-10-16 00:00:00|          73.0|     77.0|          left|               high|             medium|    79.0|     51.0|            57.0|         70.0|   29.0|     71.0| 68.0|              69.0|        68.0|        70.0|        79.0|        78.0|   78.0|     67.0|   90.0|      71.0|   84.0|   79.0|    56.0|      58.0|      67.0|         66.0|       58.0|  65.0|     59.0|   76.0|           75.0|          78.0|     14.0|        7.0|       9.0|           9.0|       12.0|  2|   Aaron Cresswell|            189615|1989-12-15 00:00:00|170.18|   146|
|       155782| 12|            189615|2015-09-25 00:00:00|          74.0|     78.0|          left|               high|             medium|    79.0|     51.0|            57.0|         70.0|   29.0|     71.0| 68.0|              69.0|        68.0|        70.0|        80.0|        78.0|   78.0|     67.0|   90.0|      71.0|   84.0|   79.0|    56.0|      58.0|      67.0|         66.0|       58.0|  65.0|     59.0|   76.0|           75.0|          78.0|     14.0|        7.0|       9.0|           9.0|       12.0|  2|   Aaron Cresswell|            189615|1989-12-15 00:00:00|170.18|   146|
|       155782| 13|            189615|2015-09-21 00:00:00|          73.0|     77.0|          left|             medium|             medium|    79.0|     51.0|            57.0|         70.0|   29.0|     67.0| 68.0|              69.0|        68.0|        68.0|        79.0|        78.0|   78.0|     67.0|   90.0|      71.0|   84.0|   79.0|    56.0|      58.0|      67.0|         66.0|       58.0|  65.0|     59.0|   76.0|           75.0|          78.0|     14.0|        7.0|       9.0|           9.0|       12.0|  2|   Aaron Cresswell|            189615|1989-12-15 00:00:00|170.18|   146|
|       155782| 14|            189615|2015-01-09 00:00:00|          71.0|     75.0|          left|             medium|             medium|    78.0|     50.0|            56.0|         69.0|   28.0|     66.0| 67.0|              68.0|        67.0|        67.0|        79.0|        82.0|   79.0|     71.0|   90.0|      70.0|   84.0|   79.0|    50.0|      56.0|      66.0|         65.0|       57.0|  64.0|     58.0|   73.0|           72.0|          72.0|     13.0|        6.0|       8.0|           8.0|       11.0|  2|   Aaron Cresswell|            189615|1989-12-15 00:00:00|170.18|   146|
|       155782| 15|            189615|2014-12-05 00:00:00|          71.0|     77.0|          left|             medium|             medium|    78.0|     50.0|            56.0|         69.0|   28.0|     66.0| 67.0|              68.0|        67.0|        67.0|        79.0|        82.0|   79.0|     71.0|   90.0|      70.0|   84.0|   79.0|    50.0|      56.0|      66.0|         65.0|       57.0|  64.0|     58.0|   73.0|           72.0|          72.0|     13.0|        6.0|       8.0|           8.0|       11.0|  2|   Aaron Cresswell|            189615|1989-12-15 00:00:00|170.18|   146|
|       155782| 16|            189615|2014-11-07 00:00:00|          71.0|     77.0|          left|             medium|             medium|    78.0|     50.0|            56.0|         69.0|   28.0|     66.0| 67.0|              68.0|        67.0|        67.0|        79.0|        82.0|   79.0|     71.0|   90.0|      70.0|   84.0|   79.0|    50.0|      56.0|      66.0|         65.0|       57.0|  64.0|     58.0|   73.0|           72.0|          72.0|     13.0|        6.0|       8.0|           8.0|       11.0|  2|   Aaron Cresswell|            189615|1989-12-15 00:00:00|170.18|   146|
|       155782| 17|            189615|2014-09-18 00:00:00|          70.0|     77.0|          left|             medium|             medium|    77.0|     50.0|            51.0|         67.0|   28.0|     66.0| 67.0|              68.0|        67.0|        66.0|        79.0|        82.0|   79.0|     69.0|   90.0|      70.0|   84.0|   79.0|    50.0|      56.0|      66.0|         62.0|       57.0|  64.0|     58.0|   73.0|           72.0|          72.0|     13.0|        6.0|       8.0|           8.0|       11.0|  2|   Aaron Cresswell|            189615|1989-12-15 00:00:00|170.18|   146|
|       155782| 18|            189615|2014-05-02 00:00:00|          70.0|     79.0|          left|             medium|             medium|    77.0|     50.0|            51.0|         67.0|   28.0|     66.0| 67.0|              68.0|        67.0|        66.0|        84.0|        82.0|   81.0|     69.0|   90.0|      70.0|   84.0|   80.0|    50.0|      56.0|      66.0|         62.0|       57.0|  64.0|     58.0|   73.0|           72.0|          72.0|     13.0|        6.0|       8.0|           8.0|       11.0|  2|   Aaron Cresswell|            189615|1989-12-15 00:00:00|170.18|   146|
|       155782| 19|            189615|2014-04-04 00:00:00|          70.0|     79.0|          left|             medium|             medium|    77.0|     50.0|            51.0|         67.0|   28.0|     66.0| 67.0|              68.0|        67.0|        66.0|        84.0|        82.0|   81.0|     69.0|   90.0|      70.0|   84.0|   80.0|    50.0|      56.0|      66.0|         62.0|       57.0|  64.0|     58.0|   73.0|           72.0|          72.0|     13.0|        6.0|       8.0|           8.0|       11.0|  2|   Aaron Cresswell|            189615|1989-12-15 00:00:00|170.18|   146|
|       155782| 20|            189615|2014-03-14 00:00:00|          70.0|     79.0|          left|             medium|             medium|    77.0|     50.0|            51.0|         67.0|   28.0|     66.0| 66.0|              68.0|        67.0|        65.0|        84.0|        82.0|   81.0|     69.0|   90.0|      70.0|   84.0|   79.0|    49.0|      55.0|      66.0|         62.0|       57.0|  61.0|     58.0|   73.0|           72.0|          72.0|     13.0|        6.0|       8.0|           8.0|       11.0|  2|   Aaron Cresswell|            189615|1989-12-15 00:00:00|170.18|   146|
+-------------+---+------------------+-------------------+--------------+---------+--------------+-------------------+-------------------+--------+---------+----------------+-------------+-------+---------+-----+------------------+------------+------------+------------+------------+-------+---------+-------+----------+-------+-------+--------+----------+----------+-------------+-----------+------+---------+-------+---------------+--------------+---------+-----------+----------+--------------+-----------+---+------------------+------------------+-------------------+------+------+
only showing top 20 rows

In [17]:
player_stats.printSchema()

root
 |-- id: string (nullable = true)
 |-- player_fifa_api_id: string (nullable = true)
 |-- player_api_id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- overall_rating: string (nullable = true)
 |-- potential: string (nullable = true)
 |-- preferred_foot: string (nullable = true)
 |-- attacking_work_rate: string (nullable = true)
 |-- defensive_work_rate: string (nullable = true)
 |-- crossing: string (nullable = true)
 |-- finishing: string (nullable = true)
 |-- heading_accuracy: string (nullable = true)
 |-- short_passing: string (nullable = true)
 |-- volleys: string (nullable = true)
 |-- dribbling: string (nullable = true)
 |-- curve: string (nullable = true)
 |-- free_kick_accuracy: string (nullable = true)
 |-- long_passing: string (nullable = true)
 |-- ball_control: string (nullable = true)
 |-- acceleration: string (nullable = true)
 |-- sprint_speed: string (nullable = true)
 |-- agility: string (nullable = true)
 |-- reactions: string (nullable = true)
 |-- balance: string (nullable = true)
 |-- shot_power: string (nullable = true)
 |-- jumping: string (nullable = true)
 |-- stamina: string (nullable = true)
 |-- strength: string (nullable = true)
 |-- long_shots: string (nullable = true)
 |-- aggression: string (nullable = true)
 |-- interceptions: string (nullable = true)
 |-- positioning: string (nullable = true)
 |-- vision: string (nullable = true)
 |-- penalties: string (nullable = true)
 |-- marking: string (nullable = true)
 |-- standing_tackle: string (nullable = true)
 |-- sliding_tackle: string (nullable = true)
 |-- gk_diving: string (nullable = true)
 |-- gk_handling: string (nullable = true)
 |-- gk_kicking: string (nullable = true)
 |-- gk_positioning: string (nullable = true)
 |-- gk_reflexes: string (nullable = true)

In [18]:
# calculate a new column called year

from pyspark.sql.functions import year

player_stats = player_stats.withColumn("year", year(player_stats['date']))

player_stats.select('player_api_id','year').show()

+-------------+----+
|player_api_id|year|
+-------------+----+
|       505942|2016|
|       505942|2015|
|       505942|2015|
|       505942|2015|
|       505942|2007|
|       155782|2016|
|       155782|2016|
|       155782|2016|
|       155782|2015|
|       155782|2015|
|       155782|2015|
|       155782|2015|
|       155782|2015|
|       155782|2015|
|       155782|2014|
|       155782|2014|
|       155782|2014|
|       155782|2014|
|       155782|2014|
|       155782|2014|
+-------------+----+
only showing top 20 rows

In [19]:
player_stats.columns

# sprint_speed
# shot_power
# acceleration
# finishing

# groupby

grouped_stats = player_stats.groupBy('player_api_id','year').agg({'sprint_speed' : 'mean'\
                ,'shot_power' : 'mean','acceleration' : 'mean','finishing' : 'mean'})

In [20]:
grouped_stats.show()

+-------------+----+------------------+-----------------+-----------------+-----------------+
|player_api_id|year|    avg(finishing)|avg(acceleration)|avg(sprint_speed)|  avg(shot_power)|
+-------------+----+------------------+-----------------+-----------------+-----------------+
|       191784|2015|              21.6|             31.0|             55.0|             57.6|
|       209372|2015| 65.66666666666667|71.66666666666667|             74.0|73.66666666666667|
|       170593|2014|              42.0|             80.5|             82.0|             68.0|
|       185336|2012|              63.0|             71.0|             68.0|             76.0|
|       243068|2016|              66.0|             78.0|             76.0|             69.0|
|        47394|2015|              70.8|             76.5|             69.3|             74.6|
|        39311|2008|              92.0|             88.0|             84.0|             87.0|
|       182847|2013|              38.0|             63.0|             64.0|             62.0|
|        36785|2011|              42.0|             68.0|             73.0|             71.0|
|        97657|2015|              54.0|             64.0|             60.0|             66.0|
|       302911|2014|              34.0|             66.0|             60.0|             66.0|
|        16351|2015|54.666666666666664|70.66666666666667|66.33333333333333|90.66666666666667|
|       155739|2014|              44.2|             69.2|             69.0|             60.0|
|       306158|2014|              60.0|             78.0|             72.0|             58.0|
|        39145|2008|              52.0|             62.0|             67.0|             58.0|
|       154238|2016|              31.0|             73.0|             75.0|             61.0|
|       264842|2012|              57.5|             64.5|             59.0|             67.0|
|       396888|2015|              44.0|             90.0|             86.0|             56.0|
|        31672|2016|              59.0|             67.5|             67.5|             80.0|
|        71764|2009|              57.0|             77.0|             65.0|             57.0|
+-------------+----+------------------+-----------------+-----------------+-----------------+
only showing top 20 rows

In [21]:
grouped_stats.count()

73059

In [22]:
grouped_stats.select('player_api_id').distinct().count()

11060

In [23]:
# create a new column called overall 

grouped_stats = grouped_stats.withColumn('overall', (grouped_stats['avg(finishing)']\
                                + grouped_stats['avg(acceleration)']\
                                + grouped_stats['avg(sprint_speed)'] \
                                + grouped_stats['avg(shot_power)'])/4)

In [24]:
grouped_stats.show()

+-------------+----+------------------+-----------------+-----------------+-----------------+-----------------+
|player_api_id|year|    avg(finishing)|avg(acceleration)|avg(sprint_speed)|  avg(shot_power)|          overall|
+-------------+----+------------------+-----------------+-----------------+-----------------+-----------------+
|       191784|2015|              21.6|             31.0|             55.0|             57.6|             41.3|
|       209372|2015| 65.66666666666667|71.66666666666667|             74.0|73.66666666666667|            71.25|
|       170593|2014|              42.0|             80.5|             82.0|             68.0|           68.125|
|       185336|2012|              63.0|             71.0|             68.0|             76.0|             69.5|
|       243068|2016|              66.0|             78.0|             76.0|             69.0|            72.25|
|        47394|2015|              70.8|             76.5|             69.3|             74.6|72.80000000000001|
|        39311|2008|              92.0|             88.0|             84.0|             87.0|            87.75|
|       182847|2013|              38.0|             63.0|             64.0|             62.0|            56.75|
|        36785|2011|              42.0|             68.0|             73.0|             71.0|             63.5|
|        97657|2015|              54.0|             64.0|             60.0|             66.0|             61.0|
|       302911|2014|              34.0|             66.0|             60.0|             66.0|             56.5|
|        16351|2015|54.666666666666664|70.66666666666667|66.33333333333333|90.66666666666667|70.58333333333334|
|       155739|2014|              44.2|             69.2|             69.0|             60.0|             60.6|
|       306158|2014|              60.0|             78.0|             72.0|             58.0|             67.0|
|        39145|2008|              52.0|             62.0|             67.0|             58.0|            59.75|
|       154238|2016|              31.0|             73.0|             75.0|             61.0|             60.0|
|       264842|2012|              57.5|             64.5|             59.0|             67.0|             62.0|
|       396888|2015|              44.0|             90.0|             86.0|             56.0|             69.0|
|        31672|2016|              59.0|             67.5|             67.5|             80.0|             68.5|
|        71764|2009|              57.0|             77.0|             65.0|             57.0|             64.0|
+-------------+----+------------------+-----------------+-----------------+-----------------+-----------------+
only showing top 20 rows

In [27]:
# We want our best players by this overall criteria 

grouped_stats.orderBy('overall', ascending=False)

final_best_players = grouped_stats.join(players, ['player_api_id']).orderBy('overall', ascending=False)

In [30]:
final_best_players = final_best_players.select('player_name','year','overall')

In [41]:
year = 2007

final_best_players.filter(final_best_players['year'] == year).show()

+-----------------+----+-------+
|      player_name|year|overall|
+-----------------+----+-------+
|     Samuel Eto'o|2007| 93.125|
|    Thierry Henry|2007| 91.625|
|     Wayne Rooney|2007|   90.5|
|      David Villa|2007|  89.25|
|  Fernando Torres|2007| 89.125|
|       Ronaldinho|2007|   89.0|
|  David Trezeguet|2007|  88.75|
|             Kaka|2007|  88.75|
|  Obafemi Martins|2007|   88.5|
|   Miroslav Klose|2007| 88.375|
|      Darren Bent|2007|  88.25|
|          Adriano|2007|  87.75|
|   Lukas Podolski|2007| 87.625|
|    Jermain Defoe|2007|   87.5|
|     Lionel Messi|2007| 87.375|
|   Steven Gerrard|2007| 87.375|
|Cristiano Ronaldo|2007| 87.375|
|     Carlos Tevez|2007| 87.125|
|     Michael Owen|2007|   87.0|
|   Andrew Johnson|2007| 86.875|
+-----------------+----+-------+
only showing top 20 rows

## SQL SPARK

In [ ]:
'SELECT * FROm player'  <- we are referencing the players table

In [ ]:
# Our first step is to create a 'SQL like' table which we can query with spark

In [42]:
players.createOrReplaceTempView('players')

# Here we are creating a temporary SQL like table from the dataframe and associating it to the spark session

In [48]:
df2 = spark.sql('SELECT * FROM players WHERE height > 170 ORDER BY height DESC')

In [49]:
df2.select('player_name').show()

+--------------------+
|         player_name|
+--------------------+
|    Kristof van Hout|
|          Kevin Vink|
|        Bogdan Milic|
|        Fejsal Mulic|
|   Stefan Maierhofer|
|Vanja Milinkovic-...|
|        Zeljko Kalac|
|       Lacina Traore|
|   Costel Pantilimon|
|        Nikola Zigic|
|       Paolo Acerbis|
|       Pietro Marino|
|       Jurgen Wevers|
|           Abdoul Ba|
|         Daniel Burn|
|       Asmir Begovic|
|      Danny Wintjens|
|        Peter Crouch|
|      Fraser Forster|
|        Robert Jones|
+--------------------+
only showing top 20 rows

In [50]:
player_stats.createOrReplaceTempView('stats')

In [54]:
spark.sql('SELECT * FROM stats WHERE stamina > 50' ).filter(player_stats['Stamina'] > 50).show()

+---+------------------+-------------+-------------------+--------------+---------+--------------+-------------------+-------------------+--------+---------+----------------+-------------+-------+---------+-----+------------------+------------+------------+------------+------------+-------+---------+-------+----------+-------+-------+--------+----------+----------+-------------+-----------+------+---------+-------+---------------+--------------+---------+-----------+----------+--------------+-----------+----+
| id|player_fifa_api_id|player_api_id|               date|overall_rating|potential|preferred_foot|attacking_work_rate|defensive_work_rate|crossing|finishing|heading_accuracy|short_passing|volleys|dribbling|curve|free_kick_accuracy|long_passing|ball_control|acceleration|sprint_speed|agility|reactions|balance|shot_power|jumping|stamina|strength|long_shots|aggression|interceptions|positioning|vision|penalties|marking|standing_tackle|sliding_tackle|gk_diving|gk_handling|gk_kicking|gk_positioning|gk_reflexes|year|
+---+------------------+-------------+-------------------+--------------+---------+--------------+-------------------+-------------------+--------+---------+----------------+-------------+-------+---------+-----+------------------+------------+------------+------------+------------+-------+---------+-------+----------+-------+-------+--------+----------+----------+-------------+-----------+------+---------+-------+---------------+--------------+---------+-----------+----------+--------------+-----------+----+
|  1|            218353|       505942|2016-02-18 00:00:00|          67.0|     71.0|         right|             medium|             medium|    49.0|     44.0|            71.0|         61.0|   44.0|     51.0| 45.0|              39.0|        64.0|        49.0|        60.0|        64.0|   59.0|     47.0|   65.0|      55.0|   58.0|   54.0|    76.0|      35.0|      71.0|         70.0|       45.0|  54.0|     48.0|   65.0|           69.0|          69.0|      6.0|       11.0|      10.0|           8.0|        8.0|2016|
|  2|            218353|       505942|2015-11-19 00:00:00|          67.0|     71.0|         right|             medium|             medium|    49.0|     44.0|            71.0|         61.0|   44.0|     51.0| 45.0|              39.0|        64.0|        49.0|        60.0|        64.0|   59.0|     47.0|   65.0|      55.0|   58.0|   54.0|    76.0|      35.0|      71.0|         70.0|       45.0|  54.0|     48.0|   65.0|           69.0|          69.0|      6.0|       11.0|      10.0|           8.0|        8.0|2015|
|  3|            218353|       505942|2015-09-21 00:00:00|          62.0|     66.0|         right|             medium|             medium|    49.0|     44.0|            71.0|         61.0|   44.0|     51.0| 45.0|              39.0|        64.0|        49.0|        60.0|        64.0|   59.0|     47.0|   65.0|      55.0|   58.0|   54.0|    76.0|      35.0|      63.0|         41.0|       45.0|  54.0|     48.0|   65.0|           66.0|          69.0|      6.0|       11.0|      10.0|           8.0|        8.0|2015|
|  4|            218353|       505942|2015-03-20 00:00:00|          61.0|     65.0|         right|             medium|             medium|    48.0|     43.0|            70.0|         60.0|   43.0|     50.0| 44.0|              38.0|        63.0|        48.0|        60.0|        64.0|   59.0|     46.0|   65.0|      54.0|   58.0|   54.0|    76.0|      34.0|      62.0|         40.0|       44.0|  53.0|     47.0|   62.0|           63.0|          66.0|      5.0|       10.0|       9.0|           7.0|        7.0|2015|
|  5|            218353|       505942|2007-02-22 00:00:00|          61.0|     65.0|         right|             medium|             medium|    48.0|     43.0|            70.0|         60.0|   43.0|     50.0| 44.0|              38.0|        63.0|        48.0|        60.0|        64.0|   59.0|     46.0|   65.0|      54.0|   58.0|   54.0|    76.0|      34.0|      62.0|         40.0|       44.0|  53.0|     47.0|   62.0|           63.0|          66.0|      5.0|       10.0|       9.0|           7.0|        7.0|2007|
|  6|            189615|       155782|2016-04-21 00:00:00|          74.0|     76.0|          left|               high|             medium|    80.0|     53.0|            58.0|         71.0|   40.0|     73.0| 70.0|              69.0|        68.0|        71.0|        79.0|        78.0|   78.0|     67.0|   90.0|      71.0|   85.0|   79.0|    56.0|      62.0|      68.0|         67.0|       60.0|  66.0|     59.0|   76.0|           75.0|          78.0|     14.0|        7.0|       9.0|           9.0|       12.0|2016|
|  7|            189615|       155782|2016-04-07 00:00:00|          74.0|     76.0|          left|               high|             medium|    80.0|     53.0|            58.0|         71.0|   32.0|     73.0| 70.0|              69.0|        68.0|        71.0|        79.0|        78.0|   78.0|     67.0|   90.0|      71.0|   85.0|   79.0|    56.0|      60.0|      68.0|         67.0|       60.0|  66.0|     59.0|   76.0|           75.0|          78.0|     14.0|        7.0|       9.0|           9.0|       12.0|2016|
|  8|            189615|       155782|2016-01-07 00:00:00|          73.0|     75.0|          left|               high|             medium|    79.0|     52.0|            57.0|         70.0|   29.0|     71.0| 68.0|              69.0|        68.0|        70.0|        79.0|        78.0|   78.0|     67.0|   90.0|      71.0|   84.0|   79.0|    56.0|      59.0|      67.0|         66.0|       58.0|  65.0|     59.0|   76.0|           75.0|          78.0|     14.0|        7.0|       9.0|           9.0|       12.0|2016|
|  9|            189615|       155782|2015-12-24 00:00:00|          73.0|     75.0|          left|               high|             medium|    79.0|     51.0|            57.0|         70.0|   29.0|     71.0| 68.0|              69.0|        68.0|        70.0|        79.0|        78.0|   78.0|     67.0|   90.0|      71.0|   84.0|   79.0|    56.0|      58.0|      67.0|         66.0|       58.0|  65.0|     59.0|   76.0|           75.0|          78.0|     14.0|        7.0|       9.0|           9.0|       12.0|2015|
| 10|            189615|       155782|2015-12-17 00:00:00|          73.0|     75.0|          left|               high|             medium|    79.0|     51.0|            57.0|         70.0|   29.0|     71.0| 68.0|              69.0|        68.0|        70.0|        79.0|        78.0|   78.0|     67.0|   90.0|      71.0|   84.0|   79.0|    56.0|      58.0|      67.0|         66.0|       58.0|  65.0|     59.0|   76.0|           75.0|          78.0|     14.0|        7.0|       9.0|           9.0|       12.0|2015|
| 11|            189615|       155782|2015-10-16 00:00:00|          73.0|     77.0|          left|               high|             medium|    79.0|     51.0|            57.0|         70.0|   29.0|     71.0| 68.0|              69.0|        68.0|        70.0|        79.0|        78.0|   78.0|     67.0|   90.0|      71.0|   84.0|   79.0|    56.0|      58.0|      67.0|         66.0|       58.0|  65.0|     59.0|   76.0|           75.0|          78.0|     14.0|        7.0|       9.0|           9.0|       12.0|2015|
| 12|            189615|       155782|2015-09-25 00:00:00|          74.0|     78.0|          left|               high|             medium|    79.0|     51.0|            57.0|         70.0|   29.0|     71.0| 68.0|              69.0|        68.0|        70.0|        80.0|        78.0|   78.0|     67.0|   90.0|      71.0|   84.0|   79.0|    56.0|      58.0|      67.0|         66.0|       58.0|  65.0|     59.0|   76.0|           75.0|          78.0|     14.0|        7.0|       9.0|           9.0|       12.0|2015|
| 13|            189615|       155782|2015-09-21 00:00:00|          73.0|     77.0|          left|             medium|             medium|    79.0|     51.0|            57.0|         70.0|   29.0|     67.0| 68.0|              69.0|        68.0|        68.0|        79.0|        78.0|   78.0|     67.0|   90.0|      71.0|   84.0|   79.0|    56.0|      58.0|      67.0|         66.0|       58.0|  65.0|     59.0|   76.0|           75.0|          78.0|     14.0|        7.0|       9.0|           9.0|       12.0|2015|
| 14|            189615|       155782|2015-01-09 00:00:00|          71.0|     75.0|          left|             medium|             medium|    78.0|     50.0|            56.0|         69.0|   28.0|     66.0| 67.0|              68.0|        67.0|        67.0|        79.0|        82.0|   79.0|     71.0|   90.0|      70.0|   84.0|   79.0|    50.0|      56.0|      66.0|         65.0|       57.0|  64.0|     58.0|   73.0|           72.0|          72.0|     13.0|        6.0|       8.0|           8.0|       11.0|2015|
| 15|            189615|       155782|2014-12-05 00:00:00|          71.0|     77.0|          left|             medium|             medium|    78.0|     50.0|            56.0|         69.0|   28.0|     66.0| 67.0|              68.0|        67.0|        67.0|        79.0|        82.0|   79.0|     71.0|   90.0|      70.0|   84.0|   79.0|    50.0|      56.0|      66.0|         65.0|       57.0|  64.0|     58.0|   73.0|           72.0|          72.0|     13.0|        6.0|       8.0|           8.0|       11.0|2014|
| 16|            189615|       155782|2014-11-07 00:00:00|          71.0|     77.0|          left|             medium|             medium|    78.0|     50.0|            56.0|         69.0|   28.0|     66.0| 67.0|              68.0|        67.0|        67.0|        79.0|        82.0|   79.0|     71.0|   90.0|      70.0|   84.0|   79.0|    50.0|      56.0|      66.0|         65.0|       57.0|  64.0|     58.0|   73.0|           72.0|          72.0|     13.0|        6.0|       8.0|           8.0|       11.0|2014|
| 17|            189615|       155782|2014-09-18 00:00:00|          70.0|     77.0|          left|             medium|             medium|    77.0|     50.0|            51.0|         67.0|   28.0|     66.0| 67.0|              68.0|        67.0|        66.0|        79.0|        82.0|   79.0|     69.0|   90.0|      70.0|   84.0|   79.0|    50.0|      56.0|      66.0|         62.0|       57.0|  64.0|     58.0|   73.0|           72.0|          72.0|     13.0|        6.0|       8.0|           8.0|       11.0|2014|
| 18|            189615|       155782|2014-05-02 00:00:00|          70.0|     79.0|          left|             medium|             medium|    77.0|     50.0|            51.0|         67.0|   28.0|     66.0| 67.0|              68.0|        67.0|        66.0|        84.0|        82.0|   81.0|     69.0|   90.0|      70.0|   84.0|   80.0|    50.0|      56.0|      66.0|         62.0|       57.0|  64.0|     58.0|   73.0|           72.0|          72.0|     13.0|        6.0|       8.0|           8.0|       11.0|2014|
| 19|            189615|       155782|2014-04-04 00:00:00|          70.0|     79.0|          left|             medium|             medium|    77.0|     50.0|            51.0|         67.0|   28.0|     66.0| 67.0|              68.0|        67.0|        66.0|        84.0|        82.0|   81.0|     69.0|   90.0|      70.0|   84.0|   80.0|    50.0|      56.0|      66.0|         62.0|       57.0|  64.0|     58.0|   73.0|           72.0|          72.0|     13.0|        6.0|       8.0|           8.0|       11.0|2014|
| 20|            189615|       155782|2014-03-14 00:00:00|          70.0|     79.0|          left|             medium|             medium|    77.0|     50.0|            51.0|         67.0|   28.0|     66.0| 66.0|              68.0|        67.0|        65.0|        84.0|        82.0|   81.0|     69.0|   90.0|      70.0|   84.0|   79.0|    49.0|      55.0|      66.0|         62.0|       57.0|  61.0|     58.0|   73.0|           72.0|          72.0|     13.0|        6.0|       8.0|           8.0|       11.0|2014|
+---+------------------+-------------+-------------------+--------------+---------+--------------+-------------------+-------------------+--------+---------+----------------+-------------+-------+---------+-----+------------------+------------+------------+------------+------------+-------+---------+-------+----------+-------+-------+--------+----------+----------+-------------+-----------+------+---------+-------+---------------+--------------+---------+-----------+----------+--------------+-----------+----+
only showing top 20 rows

In [65]:
spark.sql("SELECT player_api_id, overall_rating FROM stats ORDER BY overall_rating DESC LIMIT 100")\
            .groupBy('player_api_id').agg({'overall_rating':'mean'}).join(players, ['player_api_id']).show()

+-------------+-------------------+-----+-----------------+------------------+-------------------+------+------+
|player_api_id|avg(overall_rating)|   id|      player_name|player_fifa_api_id|           birthday|height|weight|
+-------------+-------------------+-----+-----------------+------------------+-------------------+------+------+
|        30723|               91.0|  388| Alessandro Nesta|              1088|1976-03-19 00:00:00|187.96|   174|
|        30955|  90.28571428571429|  742|   Andres Iniesta|                41|1984-05-11 00:00:00|170.18|   150|
|        30834|               90.0|  951|     Arjen Robben|              9014|1984-01-23 00:00:00|180.34|   176|
|        30893|              91.95| 1995|Cristiano Ronaldo|             20801|1985-02-05 00:00:00|185.42|   176|
|        30728|               90.0| 2426|  David Trezeguet|              5984|1977-10-15 00:00:00| 190.5|   176|
|        34520|               91.0| 3183|  Fabio Cannavaro|              1183|1973-09-13 00:00:00|175.26|   165|
|        30924|               90.0| 3514|    Franck Ribery|            156616|1983-04-07 00:00:00|170.18|   159|
|        30631|               90.0| 3544|    Frank Lampard|              5471|1978-06-20 00:00:00|182.88|   196|
|        30717|  91.33333333333333| 3826| Gianluigi Buffon|              1179|1978-01-28 00:00:00|193.04|   201|
|        39989|               92.0| 3994|   Gregory Coupet|              1747|1972-12-31 00:00:00|180.34|   176|
|        30657|               90.5| 4366|    Iker Casillas|              5479|1981-05-20 00:00:00|185.42|   185|
|        30627|               91.0| 5120|       John Terry|             13732|1980-12-07 00:00:00|187.96|   198|
|        41044|               90.0| 5592|             Kaka|            138449|1982-04-22 00:00:00|185.42|   183|
|        30981|              92.75| 6176|     Lionel Messi|            158023|1987-06-24 00:00:00|170.18|   159|
|        40636|               90.0| 6377|      Luis Suarez|            176580|1987-01-24 00:00:00|182.88|   187|
|        27299|               90.0| 6556|     Manuel Neuer|            167495|1986-03-27 00:00:00|193.04|   203|
|        22543|               90.0| 8704|   Radamel Falcao|            167397|1986-02-10 00:00:00| 177.8|   159|
|        30743|               91.0| 9216|       Ronaldinho|             28130|1980-03-21 00:00:00|182.88|   168|
|        30626|               91.0|10203|    Thierry Henry|              1625|1977-08-17 00:00:00|187.96|   183|
|        30829|               93.0|10749|     Wayne Rooney|             54050|1985-10-24 00:00:00|175.26|   183|
+-------------+-------------------+-----+-----------------+------------------+-------------------+------+------+
only showing top 20 rows

In [76]:
goats = spark.sql("SELECT player_api_id, overall_rating FROM stats ORDER BY overall_rating DESC LIMIT 100")\
            .groupBy('player_api_id').agg({'overall_rating':'mean'})

goats.createOrReplaceTempView("goats")

In [80]:
spark.sql("SELECT * FROM goats INNER JOIN players ON goats.player_api_id = players.player_api_id").show()

+-------------+-------------------+-----+-------------+-----------------+------------------+-------------------+------+------+
|player_api_id|avg(overall_rating)|   id|player_api_id|      player_name|player_fifa_api_id|           birthday|height|weight|
+-------------+-------------------+-----+-------------+-----------------+------------------+-------------------+------+------+
|        30723|               91.0|  388|        30723| Alessandro Nesta|              1088|1976-03-19 00:00:00|187.96|   174|
|        30955|  90.28571428571429|  742|        30955|   Andres Iniesta|                41|1984-05-11 00:00:00|170.18|   150|
|        30834|               90.0|  951|        30834|     Arjen Robben|              9014|1984-01-23 00:00:00|180.34|   176|
|        30893|              91.95| 1995|        30893|Cristiano Ronaldo|             20801|1985-02-05 00:00:00|185.42|   176|
|        30728|               90.0| 2426|        30728|  David Trezeguet|              5984|1977-10-15 00:00:00| 190.5|   176|
|        34520|               91.0| 3183|        34520|  Fabio Cannavaro|              1183|1973-09-13 00:00:00|175.26|   165|
|        30924|               90.0| 3514|        30924|    Franck Ribery|            156616|1983-04-07 00:00:00|170.18|   159|
|        30631|               90.0| 3544|        30631|    Frank Lampard|              5471|1978-06-20 00:00:00|182.88|   196|
|        30717|  91.33333333333333| 3826|        30717| Gianluigi Buffon|              1179|1978-01-28 00:00:00|193.04|   201|
|        39989|               92.0| 3994|        39989|   Gregory Coupet|              1747|1972-12-31 00:00:00|180.34|   176|
|        30657|               90.5| 4366|        30657|    Iker Casillas|              5479|1981-05-20 00:00:00|185.42|   185|
|        30627|               91.0| 5120|        30627|       John Terry|             13732|1980-12-07 00:00:00|187.96|   198|
|        41044|               90.0| 5592|        41044|             Kaka|            138449|1982-04-22 00:00:00|185.42|   183|
|        30981|              92.75| 6176|        30981|     Lionel Messi|            158023|1987-06-24 00:00:00|170.18|   159|
|        40636|               90.0| 6377|        40636|      Luis Suarez|            176580|1987-01-24 00:00:00|182.88|   187|
|        27299|               90.0| 6556|        27299|     Manuel Neuer|            167495|1986-03-27 00:00:00|193.04|   203|
|        22543|               90.0| 8704|        22543|   Radamel Falcao|            167397|1986-02-10 00:00:00| 177.8|   159|
|        30743|               91.0| 9216|        30743|       Ronaldinho|             28130|1980-03-21 00:00:00|182.88|   168|
|        30626|               91.0|10203|        30626|    Thierry Henry|              1625|1977-08-17 00:00:00|187.96|   183|
|        30829|               93.0|10749|        30829|     Wayne Rooney|             54050|1985-10-24 00:00:00|175.26|   183|
+-------------+-------------------+-----+-------------+-----------------+------------------+-------------------+------+------+
only showing top 20 rows

In [96]:
spark.sql("SELECT player_api_id,year, overall_rating, MAX(overall_rating) OVER (PARTITION BY player_api_id ORDER BY date) as maximum_ever FROM stats")\
  .select('player_api_id','maximum_ever').show()

+-------------+------------+
|player_api_id|maximum_ever|
+-------------+------------+
|       101042|        64.0|
|       101042|        64.0|
|       101042|        64.0|
|       101042|        67.0|
|       101042|        68.0|
|       101042|        68.0|
|       101042|        68.0|
|       101042|        68.0|
|       101042|        68.0|
|       101042|        68.0|
|       101042|        68.0|
|       101042|        68.0|
|       101042|        68.0|
|       101042|        68.0|
|       101042|        68.0|
|       101042|        69.0|
|       101042|        69.0|
|       101042|        69.0|
|       101042|        69.0|
|       101070|        68.0|
+-------------+------------+
only showing top 20 rows

### Partition data: parquet file

In [376]:
df

DataFrame[Row_ID: string, Order_ID: string, Order_Date: string, Ship_Date: string, Ship_Mode: string, Customer_ID: string, Customer_Name: string, Segment: string, City: string, State: string, Country: string, Region: string, Product_ID: string, Category: string, Sub-Category: string, Product_Name: string, Sales: string, Quantity: string, Discount: string, Profit: string, Cost: double, Profitable_Flag: string, Order_Date_Clean: date, Ship_Date_Clean: date, Upper_Cased_Name: string]

In [377]:
df.rdd.getNumPartitions()

6

In [378]:
df = df.repartition(6)

In [388]:
df.rdd.getNumPartitions()

6

In [384]:
df.write.parquet("/home/julian/Python_course/Data_Manipulation_Techniques/superstore", mode = "overwrite")

In [385]:
new_df= spark.read.parquet("/home/julian/Python_course/Data_Manipulation_Techniques/superstore")

In [386]:
new_df.rdd.getNumPartitions()

3

In [387]:
new_df

DataFrame[Row_ID: string, Order_ID: string, Order_Date: string, Ship_Date: string, Ship_Mode: string, Customer_ID: string, Customer_Name: string, Segment: string, City: string, State: string, Country: string, Region: string, Product_ID: string, Category: string, Sub-Category: string, Product_Name: string, Sales: string, Quantity: string, Discount: string, Profit: string, Cost: double, Profitable_Flag: string, Order_Date_Clean: date, Ship_Date_Clean: date, Upper_Cased_Name: string]

In [389]:
spark.read.parquet("/home/julian/Python_course/Data_Manipulation_Techniques/superstore").rdd.getNumPartitions()

3